.new-template {
    position: relative;
    border: 1px solid #efefef;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 16px 16px 20px;

    .footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        padding-right: 24px;
        width: 100%;
        height: 30px;
        .ok-btn {
            width: 80px;
        }

        .cancel-btn {
            width: 80px;
            margin-left: 10px;
        }
    }
}
