.rjsf-jsonschema {
    .@{ant-prefix}-select-selection-item {
        background: rgba(99, 181, 255, 0.12) !important;
        color: #63b5ff !important;
        border-color: rgba(255, 255, 255, 0) !important;
    }
    .@{ant-prefix}-form-item {
        margin: 0px 0px 16px;
        .@{ant-prefix}-input-affix-wrapper {
            padding: 0 11px;
        }
        &-extra {
            margin-top: 5px;
            word-wrap: break-word;
        }
    }

    width: 100%;
    .chakra-heading {
        font-size: 14px;
    }
    hr.chakra-divider {
        display: none;
    }
    label {
        font-size: 13px;
    }
    .chakra-text {
        font-size: 13px;
        margin-top: 5px;
        top: auto;
    }
    input,select {
        height: 28px;
        padding:0  8px;
    }
    .array-item-add {
        color: white;
        height: 30px;
        width: 100px;
        font-size: 13px;
        background: #126ee3;
    }
    .chakra-button {
        width: auto;
        height: auto;
        font-size: 13px;
        padding: 6px;
    }
}