/**
 * color重新排版 Aspen.peng@aishu.cn
 * confluence链接对照：http://confluence.aishu.cn/pages/viewpage.action?pageId=82067777
 * @Date 2020/09/10
 */
@blackPercentTwo: fade(@black, 2%);
@blackPercentFour: fade(@black, 4%);
@blackPercentSix: fade(@black, 6%);
@blackPercentEight: fade(@black, 8%);
@blackPercentTweleve: fade(@black, 12%);
@blackPercentFifteen: fade(@black, 15%);

/* *品牌色 */
@boston-blue: #3b71fb;
@danube: #6696ff;
@st-tropaz: #2853d4;
@list-color: #f0f7ff;

/* *背景色 */
@downriver: #08234a;
@black-pearl: #061a37;
@tropical-blue: @blackPercentFifteen;
@polar: @blackPercentSix;
@solitude: #f0f7ff;
@athens-gray: #f2f2f2;
@module-color: #fafafa;
@white: #ffffff;

/* *中性色 */
@polar-1: @blackPercentTwo;
@white-lilac: @blackPercentFour;
@polar: @blackPercentSix;
@light-shadow-color: @blackPercentEight;
@warm-grey: @blackPercentTweleve;
@tropical-blue: @blackPercentFifteen;
@light-black: fade(@black, 45%);
//@text-color，@heading-color定义在variable.less

/* *导航色 */
@black: #000000;
@downriver: #08234a;
@black-pearl: #061a37;
@light-grey: #b9bedc;
@dark-blue: #233156;
@light-black-1: #263447;
@bg-blue-color: #304476;

/* *状态色 */
@malachite: #01c853;
@sun: #faad14;
@torch-red: #f5222d;
@blue-sky: #6696ff;

@solitude: #f0f7ff;
@primary-blue: #d9e9fa;
@alice-blue: #f0faff;
@polar-2: #ebf5fa;
@spindle-1: #b9daed;
@cornflower: #78e8ff;
@downriver-1: #0d2c54;
@black-pearl-1: #06162e;
@module-color: #fafafa;
@list-color: #f0f7ff;

@malachite: #01c853;
@sun: #faad14;
@torch-red: #f5222d;

@viking: #63ddd1;
@yellow-orange: #ffb546;
@shadow-white: fade(@white, 45%);
@shadow-black: #464848;
@gray-base: #686868;
// 标签
@cornflower-lilac: #ffa8a4;
@chablis: #fff1f0;
@new-york-pink: #df807f;

@cream-brulee: #ffe89a;
@early-dawn: #fffbe6;
@golden-tainoi: #fccd55;

@blizzard-blue: #b7eb8f;
@clear-day: #f6ffed;
@turquoise-blue: #4edae3;

@lily-white: #e6f7ff;

@light-black: fade(@black, 45%);

// 边框色
@milk-blue: #8babfd;
@monza: #cc0033;

// 阴影
// @middle-picton-blue: fade(@boston-blue, 30%);

//icon 颜色

@spindle: #bad0e8;

@dark-grey: #f8f8f8;

@polar-5: #f5f5f5;
@kibana-grey: #ecf0f1;
@boston-blue-three: fade(@boston-blue, 30%);
@boston-blue-six: fade(@boston-blue, 65%);
@boston-blue-seven: fade(@boston-blue, 75%);
@danube-blue-seven: fade(@danube, 75%);
@blue-middle: fade(@boston-blue, 50%);
@boston-blue-five: fade(@lily-white, 50%);

@cornflower-lilac-six: fade(@cornflower-lilac, 65%);
@golden-tainoi-eight: fade(@golden-tainoi, 85%);
@turquoise-blue-eight: fade(@turquoise-blue, 85%);
@tropical-blue-four: fade(@tropical-blue, 45%);
@tropical-blue-six: fade(@tropical-blue, 65%);
@milano-red: #e15b49;
@flamingo: #f48154;
@Salomie: #ffe1a8;
@light-green: #a9d89d;

// 可视化的颜色

@celery: #9dce65;
@saffron-mango: #f7c84f;
@carnation: #f25354;
@medium-purpl: #8a55d4;
@picton-blue: #51b6f2;

@ocean-green: #40b27e;
@tan-hide: #fa8e4a;
@lavender: #cf60d9;
@blue-violet: #5256bb;
@viking: #68d6dc;
@cerise-red: #d42d6c;

@process-loading-color1: #23b7e5;

// antd衍生色
@ant-color-1: #f0f7ff;
@ant-color-2: #e0edff;
@ant-color-3: #b8d3ff;
@ant-color-4: #8fb6ff;
@ant-color-5: #6696ff;
@ant-color-6: #3b71fb;
@ant-color-7: #2853d4;
@ant-color-8: #1839ad;
@ant-color-9: #0c2387;
@ant-color-10: #081561;

// 禁用字体颜色
@disabled-font: #00000040;

// 全局背景色
@global-bg: #f0f2f5;

// placeholder颜色
@placeholder-font: #bfbfbf;

// 登录背景配置
@login-bg-bar: #d8d8d8;
@login-bg-input: #f0f2f7;
@login-bg-btn: #3b71fb;

// 告警严重程度
@low-seriousness: #ffe1a8;
@mid-seriousness: #ffb546;
@high-seriousness: #f48154;

// 顶部栏
@top-bg-primary: #0a0744;
@top-bg-secondary: #53517c;
@top-font-color: #ffffff;

// 侧边栏
@sidebar-bg-primary: #f4f4f4;
@sidebar-active-secondary: #9197a9;
@sidebar-hover-secondary: #e6e7ea;
@sidebar-font-default-color: #000000;
@sidebar-font-bg-color: #126ee3;

// 卡片阴影
@card-shadow: #e2e2e2;
