@import './variable.less';

// 展示文字1
.display-text-first {
  line-height: 48px;
  font-size: 48px;
}

// 展示文字2
.display-text-second {
  line-height: 40px;
  font-size: 32px;
}

// 展示文字3
.display-text-third {
  line-height: 32px;
  font-size: 24px;
}

// 主标题
.main-title {
  line-height: 28px;
  font-size: 20px;
  color: @heading-color;
}

// 一级标题
.first-level-title {
  line-height: 24px;
  font-size: 16px;
  color: @heading-color;
}

// 二级标题
.second-level-blod-title {
  line-height: 22px;
  font-size: 14px;
  color: @heading-color;
  font-weight: bold;
}

// 二级标题 不加粗
.second-level-title {
  line-height: 22px;
  font-size: 14px;
  color: @heading-color;
}

// 文字标题
.text-title {
  line-height: 20px;
  font-size: 12px;
  color: @heading-color;
}

// 正文字体
.content-text {
  line-height: 20px;
  font-size: 12px;
  color: @text-color;
}

// 辅助文字
.auxiliary-text {
  line-height: 20px;
  font-size: 12px;
  color: @text-color-secondary;
}

.main-auxiliary-text {
  line-height: 22px;
  font-size: 14px;
  color: @text-color-secondary;
}

// 状态文字

// 信息，链接
.link-info-message {
  line-height: 20px;
  font-size: 12px;
  color: @link-color;
}

//警告文字
.warn-message {
  line-height: 20px;
  font-size: 12px;
  color: @warning-color;
}
// 错误文字
.error-message {
  line-height: 20px;
  font-size: 12px;
  color: @error-color;
}

// 成功文字
.success-message {
  line-height: 20px;
  font-size: 12px;
  color: @success-color;
}

//隐藏返回文字
.back-title {
  display: none;
}
