.color-box {
  display: flex;
  flex-wrap: wrap;
  gap: 8;
  max-height: 240;
  overflow: auto;
}

.color-item {
  width: 26px;
  height: 26px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4;
}

.color-item-active {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 4;
}
