# 名称空间，服务都要在同一个空间。
namespace: anyshare
name: data-connection

labels:
  deployment:
    name: data-connection
  pod:
    app: data-connection
  service:
    app: data-connection

image:
  registry: acr.aishu.cn
  repository: dip/data-connection
  tag: "1.0.0-develop"
  pullPolicy: IfNotPresent

replicaCount: 1

nodeSelector: { }

service:
  name: data-connection
  type: ClusterIP
  port: 8098
  telemetry:
    log:
      enabled: false
      endpoint:  http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/job-4d42d761dbf0ea95/events
      level: OFF
    trace:
      enabled: false
      endpoint: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/job-a2491f67d02e482c/events

depServices:
  class-443:
    ingressClass: class-443
  rds:
    type: ""
    host: mariadb-mariadb-master.resource
    port: 3330
    user: anyshare
    password: eisoo.com123
  vegaCalculateCoordinator:
    host: vega-calculate-coordinator
    port: 8090
    protocol: http
  vegaGateWay:
    host: vega-gateway
    port: 8099
    protocol: http
  mq:
    mqHost: kafka-headless.resource.svc.cluster.local.
    mqPort: 9097
    mqLookupdHost: proton-mq-nsq-nsqlookupd.resource
    mqLookupdPort: 4161
    mqType: kafka
    connectorType: kafka
    auth:
      username: anyrobot
      password: eisoo.com123
      mechanism: PLAIN
  userManagement:
    privateHost: user-management-private
    privatePort: 30980
    privateProtocol: http
  hydra:
    administrativeHost: hydra-admin
    administrativePort: 4445
    administrativeProtocol: http
  authorization:
    privateHost: authorization-private
    privatePort: 30920
    privateProtocol: http
  efast:
    privateHost: efast-private
    privatePort: 9123
    privateProtocol: http
    publicHost: efast-public
    publicPort: 9123
    publicProtocol: http
  metadata:
    protocol: http
    host: vega-metadata:80
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 8
    memory: 16Gi

probe:
  livenessProbe:
    httpGet:
      path: /api/data-connection/v1/health/alive
      port: 8098
    initialDelaySeconds: 30
    periodSeconds: 30
    timeoutSeconds: 60
    successThreshold: 1
    failureThreshold: 3
  readinessProbe:
    httpGet:
      path: /api/data-connection/v1/health/ready
      port: 8098
    initialDelaySeconds: 30
    periodSeconds: 30
    timeoutSeconds: 60
    successThreshold: 1
    failureThreshold: 3

collectorDataSource: mymaria_fast2 #扫描用数据源，列表过滤时使用

javaOpts: "-XX:+UseContainerSupport -XX:InitialRAMPercentage=70.0 -XX:MaxRAMPercentage=70.0 -XX:MaxMetaspaceSize=512M -XX:MetaspaceSize=128M -XX:+UseG1GC -XX:InitiatingHeapOccupancyPercent=30 -XX:ParallelGCThreads=8 -XX:+ExitOnOutOfMemoryError"
