.drawer-wrapper {
  :global(.ant-drawer-body) {
    padding: 0;
  }
}

.data-preview-wrapper {
  height: calc(100% - 41px);
  padding: 16px;
  overflow: auto;
  background-color: #fff;

  .search-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.data-preview-tip {
  color: rgba(0, 0, 0, 0.45);
}
