.icon-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 8;
  max-height: 240;
  overflow: auto;
}

.icon-item {
  padding: 8px 2px;
  text-align: center;
  cursor: pointer;
  border-radius: 4;
}
