replicaCount: 1

nodeSelector: {}

namespace: dip
moduleName: agent-operator-integration

# 设置为dev则为开发模式.
runMode: release

enableSecurityContext: true
securityContext:
  runAsUser: 5000
  runAsGroup: 5000

image:
  registry: docker.io
  service:
    repository: dip/agent-operator-integration
    tag: latest
    pullPolicy: IfNotPresent

service:
  podID: "POD_ID" # 使用PODID作为machineID, 这里填写podID环境变量名
  name: "agent-operator-integration"
  machineID: ""

  agentOperatorIntegration:
    nodePort: 31023
    ingress:
      enabled: true
      interface:
        path:
          - /api/agent-operator-integration/v1
  type: ClusterIP
  enableDualStack: false
  port: 9000
  language: zh-CN
  loggerOutput: stdout
  loggerLevel: 1
  debug: false
  businessTimeOffset: 0
  readinessProbe:
    initialDelaySeconds: 5
    periodSeconds: 5
    timeoutSeconds: 3
    failureThreshold: 10
  livenessProbe:
    initialDelaySeconds: 5
    periodSeconds: 5
    timeoutSeconds: 3
    failureThreshold: 6
  startupProbe:
    initialDelaySeconds: 5
    periodSeconds: 5
    timeoutSeconds: 5
    failureThreshold: 30
  operator:
    importFileSizeLimit: 2097152 # 导入文件的大小限制2M
    importOperatorMaxCount: 10 # 批量导入算子的最大数量
    descriptionLengthLimit: 500 # 算子描述的长度限制，单位字符
  mcp:
    connTimeout: 10 # 单位: 秒
  category:
    initSwitch: true # 是否初始化算子分类
  proxyModule:
    defaultTimeout: 300 # 单位秒
    maxTimeout: 300 # 单位秒
    maxClients: 50 # 单位秒
    clientLifetime: 600 # 单位秒

depServices:
  class-443:
    ingressClass: class-443
  mq: {}
  rds:
    type: mysql
    host: 127.0.0.1
    port: 3320
    user: ""
    password: ""
    maxConnections: 30
    useExternalDB: false
    connTimeout: 30
    readTimeout: 30
    writeTimeout: 30
    database: adp
    dbCharset: utf8mb4
    system_id: ""
  hydra:
    publicHost: hydra-public
    publicPort: 4444
    publicProtocol: http
    administrativeHost: hydra-admin
    administrativePort: 4445
    administrativeProtocol: http
    administrativePrefix: /admin
  user-management:
    privateHost: user-management-private
    privatePort: 30980
    privateProtocol: http
  authorization:
    privateHost: authorization-private
    privatePort: 30920
    privateProtocol: http
  agent-operator-app:
    privateHost: agent-operator-app
    privatePort: 9000
    privateProtocol: http
  business-system-service:
    privateHost: business-system-service
    privatePort: 80
    privateProtocol: http
  redis:
    connectType: sentinel
    enableSSL: false
    connectInfo:
      username: root
      password: ""
      host: ""
      port: 26379
      masterHost: ""
      masterPort: 26379
      slaveHost: ""
      slavePort: 26379
      sentinelHost: redis-sentinel.redis.svc.cluster.local
      sentinelPort: 26379
      sentinelUsername: root
      sentinelPassword: ""
      masterGroupName: mymaster
      poolSize: 10
    secretName: ""
    caName: ""
    certName: ""
    keyName: ""
  flow-automation:
    privateHost: flow-automation-private
    privatePort: 8680
    privateProtocol: http
  sandbox-runtime:
    privateHost: sandbox-runtime
    privatePort: 9101
    privateProtocol: http
  mf-model-api:
    privateHost: "mf-model-api"
    privatePort: 9898
    privateProtocol: "http"
  mf-model-manager:
    privateHost: mf-model-manager
    privatePort: 9898
    privateProtocol: "http"
  aiGenerationConfig:
    pythonFunctionGeneratorPromptID: ""
    metadataParamGeneratorPromptID: ""
    llm:
      model: ""
      maxTokens: 2048
      temperature: 0.2 # 降低随机性
      topK: 40
      topP: 0.95
      frequencyPenalty: 0.0
      presencePenalty: 0.0

env:
  language: en_US.UTF-8
  timezone: Asia/Shanghai

resources:
  requests:
    cpu: 200m
    memory: 200Mi
  limits:
    cpu: 4
    memory: 8Gi

observability:
  traceType: otlp # 可选值: jaeger, otlp
  logEnabled: false # 是否开启 log
  traceEnabled: false # 是否开启 trace
  metricEnabled: false # 是否开启 metric
  logExporter: consle # log上报方式:consle;http
  traceProvider: http # trace 上报方式consle;http;grpc
  metricProvider: http # metric 上报方式consle;http
  logLoadInternal: 1 # log 批量上报策略 -- 时间间隔，单位：秒
  logLoadMaxLog: 10 # log 批量上报策略 -- 日志数量，单位： 个
  traceMaxQueueSize: 50000 # trace 队列最大长度
  metricIntervalSecond: 60 # metric 上报间隔，单位：秒
  httpLogFeedIngesterUrl: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/dip-o11y-log/events # log http 上报端点
  httpTraceFeedIngesterUrl: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/dip-o11y-trace/events # trace http 上报端点
  httpMetricFeedIngesterUrl: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/dip-o11y-metric/events # metric http 上报端点
  grpcTraceFeedIngesterUrl: feed-ingester-grpc-service:13033 # trace grpc上报端点
  grpcTraceJobId: dip-o11y-trace-grpc # trace grpc 上报任务ID
