.action-root {
  height: 100%;
  padding: 24px;

  .tag-more-btn-col {
    height: 22px;
    padding-right: 4px;
    padding-left: 4px;
  }
}

.tag {
  max-width: 112px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popover-tags {
  max-width: 300px;
  max-height: 300px;
  overflow-y: auto;
}
