.input-editor {
  min-height: 48px;
  border: solid 1px rgba(29, 28, 35, 0.12);
  border-radius: 8px;

  :global {
    .monaco-editor {
      border-radius: 8px;
    }

    .monaco-editor .overflow-guard {
      border-radius: 8px;
    }
  }
}
