.ai-btn {
  &:hover {
    background: #dadcff !important;
  }

  .text {
    background: linear-gradient(90deg, #6254ff 7.5%, #a30cfb 92.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.ai-btn-in-drawer {
  background: #dadcff !important;
}
