apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-yaml
  namespace: {{ .Values.namespace }}
data:
  cronsvr.yaml: |

    #配置文件路径/sysvol/conf/cronsvr.yaml
    lang: {{ .Values.service.language }} #系统语言
    webhook: {{ .Values.service.webhook }} #任务结果监听地址

    #消费队列
    mq_host: {{ index .Values "depServices" "mq" "mqHost" }}
    mq_port: {{ index .Values "depServices" "mq" "mqPort" }}
    mq_lookupd_host: {{ index .Values "depServices" "mq" "mqLookupdHost" }}
    mq_lookupd_port: {{ index .Values "depServices" "mq" "mqLookupdPort" }}
    mq_connector_type: {{ index .Values "depServices" "mq" "connectorType" }}

    #定时服务，multi_node=true表示定时服务可以多节点运行，端口号动态选择
    cron_addr: {{ .Values.service.host }}
    cron_port: {{ .Values.service.port }}
    cron_protocol: http
    multi_node: false

    #SSL证书
    ssl_on: {{ .Values.service.sslOn }}
    cert_file: {{ .Values.service.certFile }}
    key_file: {{ .Values.service.keyFile }}

    #sleep时间，单位秒
    analysis_load_sleep: {{ .Values.service.sleep.analysisLoad }}
    analysis_refresh_sleep: {{ .Values.service.sleep.analysisRefresh }}
    job_status_refresh_sleep: {{ .Values.service.sleep.jobStatusRefresh }}
    msmq_client_op_sleep: {{ .Values.service.sleep.msmqClientOp }}
    db_client_ping_sleep: {{ .Values.service.sleep.dbClientPing }}
    lost_immediate_job_sleep: {{ .Values.service.sleep.lostImmediateJobExecute }}
    token_refresh_sleep: {{ .Values.service.sleep.tokenRefresh }}

    #授权服务
    oauth_public_addr: {{ .Values.depServices.hydra.publicHost }}
    oauth_public_port: {{ .Values.depServices.hydra.publicPort }}
    oauth_public_protocol: {{ .Values.depServices.hydra.publicProtocol }}
    oauth_admin_addr: {{ .Values.depServices.hydra.administrativeHost }}
    oauth_admin_port: {{ .Values.depServices.hydra.administrativePort }}
    oauth_admin_protocol: {{ .Values.depServices.hydra.administrativeProtocol }}

  mq_config.yaml: |
    {{- toYaml .Values.depServices.mq | nindent 4 }}