.tool-param-table {
  :global {
    .ant-table-cell {
      padding: 8px 8px 7px 16px !important;
    }
  }
}

.value-from {
  width: 100%;

  .col-1 {
    width: 40%;
  }

  .col-2 {
    width: 172px;
  }
}

.description {
  font-size: 12px;
}
