apiVersion: v1
kind: Secret
metadata:
  name: {{ include "dataflowtools.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: {{ include "coderunner.fullname" . }}
{{ include "coderunner.labels" . | indent 4 }}
data:
  DB_PASSWORD: {{ .Values.depServices.rds.password | toString | b64enc | quote }}
  REDIS_USERNAME: {{ .Values.depServices.redis.connectInfo.username | b64enc | quote }}
  REDIS_PASSWORD: {{ .Values.depServices.redis.connectInfo.password | toString | b64enc | quote }}
  REDIS_SENTINEL_USERNAME:  {{ .Values.depServices.redis.connectInfo.sentinelUsername | b64enc | quote }}
  REDIS_SENTINEL_PASSWORD:  {{ .Values.depServices.redis.connectInfo.sentinelPassword| toString | b64enc | quote }}