.detail-view-root {
  width: fit-content;
  min-width: 100%;
  height: fit-content;
  // padding: 12px 20px;
  min-height: 100%;
  // border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  .divider {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .tag {
    max-width: 112px;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tool {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
    border-top: solid 1px rgba(5, 5, 5, 0.06);
    border-bottom: solid 1px rgba(5, 5, 5, 0.06);

    .text-wrapper {
      flex: 1;
      overflow: hidden;
    }
  }

  .line-height-32 {
    line-height: 32px;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
