.container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: #f6f6f7;

    .header {
        border-bottom: 1px solid #d0d1d8;
        border-top: 1px solid transparent;
        width: 100%;
        background: #fff;
        padding: 10px 24px;
        display: inline-flex;
        align-items: center;

        .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
        }

        .back-icon {
            font-size: 13px;
            line-height: 13px;
            color: rgba(0, 0, 0, 0.4);
        }

        .header-icon {
            margin-right: 8px;
            width: 24px;
            height: 24px;
        }

        :global(.@{ant-prefix}-page-header-heading-title) {
            color: #000;
            font-weight: normal;
            font-size: 13px;
            line-height: 22px;
        }

        :global(.@{ant-prefix}-page-header-heading-left) {
            margin: 0;
            height: 30px;
        }
    }

    .sider {
        border-right: 1px solid #eee;

        .steps {
            padding: 24px;
            height: 300px;

            :global(.@{ant-prefix}-steps-item-description) {
                color: #999;
            }
        }

        .edit-mode {
            &:global(.@{ant-prefix}-steps-item)
                :global(.@{ant-prefix}-steps-item-icon) {
                border-color: gray;
            }

            :global(.@{ant-prefix}-steps-item-icon)
                > :global(.@{ant-prefix}-steps-icon) {
                color: #999;
            }
            :global(.@{ant-prefix}-steps-item-content)
                :global(.@{ant-prefix}-steps-item-title) {
                color: #999;
            }

            &:global(.@{ant-prefix}-steps-item)
                > :global(.@{ant-prefix}-steps-item-container)
                > :global(.@{ant-prefix}-steps-item-tail)::after {
                background-color: #999;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding-bottom: 24px;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #eee;
        padding: 12px 32px;

        .hidden {
            visibility: hidden;
        }
    }
}
