.ad-tree.@{ant-prefix}-tree {
  background: transparent !important;

  .@{ant-prefix}-tree-treenode {
    display: flex;
    align-items: center;
  }

  .@{ant-prefix}-tree-switcher {
    display: flex;
    align-items: center;
    line-height: unset;
    width: unset!important;
    //margin-right: 8px;
    &::before {
      display: none;
    }
  }

  .@{ant-prefix}-tree-switcher-noop {
    visibility: hidden;
  }

  .ad-treeNode-noIndent {
    .@{ant-prefix}-tree-switcher-noop {
      display: none;
    }
  }

  .@{ant-prefix}-tree-node-content-wrapper {
    display: flex;
    line-height: unset;

    .@{ant-prefix}-tree-title {
      flex: 1;
      min-width: 0;
    }

    &.@{ant-prefix}-tree-node-selected {
      background-color: var(--ad-select-bg-color);

      &:hover {
        background-color: var(--ad-select-bg-color);
      }
    }
  }

  .@{ant-prefix}-tree-indent-unit {
    position: relative;
    &::after {
      display: block!important;
      position: absolute;
      top: 0;
      right: 18px;
      bottom: -4px;
      border-right: 1px solid #d9d9d9;
      content: '';
    }
    &::before {
      display: none!important;
    }
  }

  &.ad-tree-noHover {
    .@{ant-prefix}-tree-node-content-wrapper:hover {
      background-color: transparent;
    }
  }

  .@{ant-prefix}-tree-checkbox {
    margin-left: 6px!important;
  }
}
