.tool-selector {
  justify-content: start;
  width: 50%;
  padding-left: 11px;

  .tool-selector-content {
    display: flex;
    gap: 10px;
    width: 100%;
    text-align: left;

    .tool-selector-text {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .close-icon:hover {
      color: rgba(0, 0, 0, 0.45) !important;
    }
  }
}
