.detail-and-preview-drawer-root {
  .ant-drawer-header {
    padding: 0 24px !important;
  }

  .ant-drawer-body {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .detail-and-preview-title {
    display: flex;
    align-items: center;
    height: 47px;

    .ant-tabs-nav {
      margin: 0;

      &::before {
        border: 0 !important;
      }

      .ant-tabs-tab-btn {
        font-weight: 400 !important;
      }
    }
  }
}
