.quick-tags-col {
  .quick-tags-ul {
    padding: 0 12px;
    border-right: var(--g-border);

    .quick-tags-li {
      display: flex;
      align-items: center;
      padding: 4px 12px;
      font-size: 12px;
      cursor: pointer;
    }

    .quick-tags-li-active {
      color: #fff;
      background-color: var(--g-primary-color);
      border-radius: 8px;
    }
  }

  .quick-tags-ul-last {
    border-right: none;
  }
}
