.data-view-type-container {
  display: flex;
  gap: 16px;

  .data-view-type-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 242px;
    height: 96px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
  }

  .data-view-type-item-active {
    background-color: rgba(236, 245, 255, 0.6);
    border-color: #126ee3;
  }
}
