.common-drawer {
  padding: 0;

  :global {
    // 覆写 antd 的样式 --- start
    .ant-drawer-header {
      display: flex !important;
      align-items: center !important;
      height: 56px;
      margin-bottom: 0;
      // border-bottom: none !important;

      .ant-drawer-title {
        display: flex;
        align-items: center;
        font-weight: 600;
      }
    }

    .ant-drawer-body {
      padding: 12px 24px !important;
    }
  }

  // 覆写 antd 的样式 --- end
}

.common-drawer-close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1010;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.45);
}
