// 新建任务窗口
.drawer {
    .drawer-title {
        font-size: 15px;
        font-weight: bold;
        user-select: none;
    }

    .drawer-footer {
        display: flex;
        justify-content: flex-end;

        .footer-btn-cancel {
            margin-left: 8px;
        }
    }

    .footer-btn-ok[disabled],
    .footer-btn-ok[disabled]:active,
    .footer-btn-ok[disabled]:focus,
    .footer-btn-ok[disabled]:hover {
        color: #fff;
        -webkit-text-fill-color: #fff;
        border-color: transparent;
        border-radius: 4px;
        background: rgba(101, 177, 252, 0.5);
        text-shadow: none;
        box-shadow: none;
        cursor: default;
    }

    // 抽屉
    :global(.@{ant-prefix}-drawer-close) {
        position: absolute;
        right: 0px;
    }

    :global(.@{ant-prefix}-drawer-title) {
        color: rgba(0, 0, 0, 0.85);
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
    }

    :global(.@{ant-prefix}-drawer-header) {
        padding: 16px 32px;
        border-bottom: none;
    }

    :global(.@{ant-prefix}-drawer-body) {
        padding: 8px 32px 20px;
    }

    :global(.@{ant-prefix}-drawer-footer) {
        padding: 20px 32px;
        border-top: none;
    }

    :global(.@{ant-prefix}-drawer-close) {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 16px;
        color: #7f8391;
        text-align: center;
        border-radius: 0px;
        border-color: transparent;
        transition: none;

        &:hover {
            color: #ffffff;
            background-color: rgba(255, 103, 109, 0.7);
        }
        &:active {
            background-color: #ff677d;
            color: #ffffff;
        }
    }
}
