.result-filter-horizontal {
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
  padding: 16px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.result-filter-vertical {
  width: 100%;
}

.result-filter-range {
  display: flex;
  gap: 8px;
  align-items: center;
}
