.card-wrapper {
    display: flex;
    position: relative;
    margin-top: 32px;
    user-select: text;

    .status-icon {
        font-size: 20px;
        margin-right: 16px;
        color: #fff;
    }

    .icon-gray {
        color: #979797;
    }

    &:not(:last-child)::after {
        content: "";
        bottom: -60px;
        left: 80px;
        width: 2px;
        height: 60px;
        background: #d0d1d8;
        display: inline-block;
        position: absolute;
    }
}

.log-card {
    position: relative;
    width: 720px;
    flex-shrink: 0;

    .avatar-icon {
        font-size: 28px;

        img {
            width: 28px;
            border-radius: 4px;
        }
    }

    .card-name {
        color: #000;
        font-size: 13px;
        line-height: 22px;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .card-time {
        color: rgba(0, 0, 0, 0.3);
        font-size: 12px;
        line-height: 20px;
    }

    .card-description {
        color: rgba(0, 0, 0, 0.3);
        font-size: 12px;
        line-height: 20px;
        ul {
            display: flex;
        }
        li {
            margin-right: 20px;
        }
    }

    .expand-btn {
        position: absolute;
        top: 20px;
        right: 24px;
        height: 22px;
        font-size: 13px;
    }

    :global(.@{ant-prefix}-card-body) {
        padding: 20px 0;
    }

    :global(.@{ant-prefix}-avatar) {
        background: transparent;
    }

    :global(.@{ant-prefix}-card-meta) {
        margin: 0 24px;
    }

    :global(.@{ant-prefix}-card-meta-title) {
        margin-right: 48px;
    }

    :global(.@{ant-prefix}-card-meta-avatar) {
        display: flex;
        align-items: center;
    }

    :global(.@{ant-prefix}-card-meta-detail)>div:not(:last-child) {
        margin-bottom: 4px;
    }

    :global(.@{ant-prefix}-divider-horizontal) {
        margin: 16px 0px;
    }

    .tabs {
        padding: 0 24px;
        height: 100%;

        .card-empty {
            width: 100%;
            text-align: center;
            color: rgba(0, 0, 0, 0.4);
        }

        :global(.@{ant-prefix}-tabs-content) {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        &:global(.@{ant-prefix}-tabs-top > .@{ant-prefix}-tabs-nav::before),
        &:global(.@{ant-prefix}-tabs-bottom > .@{ant-prefix}-tabs-nav::before),
        &:global(.@{ant-prefix}-tabs-top > div > .@{ant-prefix}-tabs-nav::before),
        &:global(.@{ant-prefix}-tabs-bottom > div > .@{ant-prefix}-tabs-nav::before) {
            border-bottom: none;
        }

        :global(.@{ant-prefix}-tabs-tab) {
            padding: 0 0 6px;
        }

        :global(.@{ant-prefix}-tabs-tab)+ :global(.@{ant-prefix}-tabs-tab) {
            margin-left: 42px;
        }

        .tab-name {
            font-size: 13px;
            padding-right: 12px;
            height: 12px;
            line-height: 12px;
            display: inline-block;

            &.tab-divider {
                border-right: 1px solid rgba(0, 0, 0, 0.6);
            }
        }

        .data-container {
            word-break: break-all;
            max-height: 200px;
            overflow: auto;
        }

        .data-tabs-wrapper {

            // 覆盖原本的antd -> tabs 样式
            :global(.@{ant-prefix}-tabs-top > .@{ant-prefix}-tabs-nav .@{ant-prefix}-tabs-ink-bar),
            :global(.@{ant-prefix}-tabs-bottom > .@{ant-prefix}-tabs-nav .@{ant-prefix}-tabs-ink-bar),
            :global(.@{ant-prefix}-tabs-top > div > .@{ant-prefix}-tabs-nav .@{ant-prefix}-tabs-ink-bar),
            :global(.@{ant-prefix}-tabs-bottom > div > .@{ant-prefix}-tabs-nav .@{ant-prefix}-tabs-ink-bar) {
                height: 0;
            }

            :global(.@{ant-prefix}-tabs-tab + .@{ant-prefix}-tabs-tab) {
                margin: 0 0 0 12px;
            }

            :global(.@{ant-prefix}-tabs-tab) {
                padding-top: 0;
            }

            :global(.@{ant-prefix}-tabs-tab.@{ant-prefix}-tabs-tab-active .@{ant-prefix}-tabs-tab-btn) {
                text-shadow: none;
            }

            :global(.@{ant-prefix}-tabs-nav .@{ant-prefix}-tabs-tab) {
                margin-right: 0;
                padding-bottom: 0;
            }

            :global(.@{ant-prefix}-tabs) {
                color: rgba(0, 0, 0, 0.6);
            }

            :global(.@{ant-prefix}-tabs-tab.@{ant-prefix}-tabs-tab-active .@{ant-prefix}-tabs-tab-btn) {
                color: #126ee3;
            }

            :global(.@{ant-prefix}-tabs-top > .@{ant-prefix}-tabs-nav::before) {
                border-color: transparent;
            }
        }
    }
}


.label {
    padding: 3px 8px 3px 0;
    white-space: nowrap;
    display: inline-flex;
    min-width: 160px;
}