.box {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 24px;

  .name-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 4px;
  }
}

.has-index {
  display: flex;
  gap: 4px;
  align-items: center;
}

.object-title-box {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
