.editor {
    overflow: hidden;
    user-select: none;
    cursor: grab;
    background: #f5f5f5;
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100% - 52px);

    .scaleable {
        flex-grow: 1;

        &.grabbing {
            cursor: grabbing;

            * {
                pointer-events: none !important;
                cursor: grabbing !important;
            }
        }
    }

    .padding {
        box-sizing: content-box;
        overflow: hidden;
    }

    .wrapper {
        display: flex;
        width: fit-content;
        height: fit-content;
        transform-origin: top left;
    }
}

.scaleTool {
    position: absolute;
    // top: 12px;
    // left: 6px;
    display: flex;
    border-radius: 4px;
    background: #fff;
    padding: 1px;
    bottom: 32px;
    right: 32px;

    &.strategy {
        top: auto;
        left: auto;
        bottom: 32px;
        right: 32px;
    }
}

.preview-toolBar {
    top: auto;
    left: auto;
    bottom: 32px;
    right: 32px;
    cursor: default;

    :global(.@{ant-prefix}-btn-icon-only) {
        background: #fff;
    }

    :global(.@{ant-prefix}-dropdown-trigger) {
        pointer-events: none;
    }
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: max-content;
    position: relative;

    &.readonly {
        pointer-events: none;
    }
}

.step {
    width: 320px;
    border-radius: 4px;
    z-index: 1;
    cursor: pointer;
    position: relative;
    background: #fff;

    & .action {
        float: right;
        margin-right: 12px;
        opacity: 0;
    }

    &:hover {
        & .action {
            opacity: 1;
        }
    }

    &.hasError {
        box-shadow: 0 0 2px 2px red;

        &.removePopconfirmOpen,
        &:hover,
        &.focus {
            box-shadow: 0 0 2px 2px red, 0 2px 9px 1px rgba(0, 0, 0, 0.1);
        }
    }

    .stepErrorIcon {
        position: absolute;
        top: 0;
        right: -2em;
        color: red;
    }

    .removeButton {
        color: #fff;
        display: none;
        width: 16px;
        height: 16px;
        font-size: 16px;
    }

    &.removePopconfirmOpen,
    &:hover {
        box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);

        .removeButton {
            display: block;
        }
    }

    &.focus {
        box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);
    }

    &.start,
    &.end {
        cursor: default;
        pointer-events: none;

        .head {
            background: #abb4cb;
            border-radius: 4px;
        }

        .head .title {
            text-align: center;
        }
    }

    &.conditionStep {
        .removeButton {
            color: #000;
            display: none;
        }

        .priority {
            color: rgba(0, 0, 0, 0.55);
            display: block;
        }

        &.removePopconfirmOpen,
        &:hover {
            .removeButton {
                display: block;
            }

            .priority {
                display: none;
            }
        }

        .head {
            background: #fff;
            color: #000;
            border-width: 1px 1px 0px 1px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0.1);
            border-radius: 4px 4px 0px 0px;
        }

        .body {
            min-height: 52px;

            .conditionEmpty {
                padding: 0 24px;
                display: flex;
                align-items: center;

                .conditionEmptyText {
                    flex-grow: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            // .conditionSummary {
            //     line-height: 30px;
            //     padding: 0 24px;
            //     overflow: hidden;
            //     text-overflow: ellipsis;
            //     white-space: nowrap;
            // }

            .conditionSummary-wrapper {
                padding: 0 24px 24px;
            }

            .conditionSummary-or {
                margin: 12px 0;
                color: grey;
            }

            .conditionSummary-and {
                border-left: 4px solid rgb(46, 133, 237);
                padding-left: 8px;

                .conditionSummary-item:not(:first-child) {
                    margin-top: 8px;
                }

                &.conditionSummary-onlyOne {
                    border-left: none;
                    padding-left: 0;
                }
            }

            .conditionSummary-item {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                align-items: center;
                overflow: hidden;

                .conditionSummary-line {
                    display: flex;
                    align-items: center;
                    max-width: 100%;
                    height: 24px;
                    line-height: 24px;
                    padding: 1px 0;

                    div {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        height: 24px;
                        line-height: 24px;
                    }

                    :global(.@{ant-prefix}-select-selection-item) {
                        margin: 0;
                    }
                }

                .conditionSummary-comparator {
                    display: inline-block;
                    flex-shrink: 0;
                    margin: 0 8px;
                    color: gray;
                }
            }
        }
    }

    .head {
        display: flex;
        padding: 0 24px;
        height: 48px;
        align-items: center;
        background: #146de4;
        color: #fff;
        border-radius: 4px 4px 0px 0px;
        overflow: hidden;

        .title {
            text-align: left;
            font-size: 14px;
            flex-grow: 1;
            font-weight: bold;

            .titleTip {
                margin-left: 4px;
            }
        }
    }

    .body {
        min-height: 72px;
        border-width: 0px 1px 1px 1px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 4px 4px;
        overflow: hidden;

        &.empty {
            height: 72px;
            display: flex;
            align-items: center;
            justify-content: center;

            .addIcon {
                font-size: 36px;
                color: #dadada;
            }
        }
    }

    .actionNode {
        height: 72px;
        display: flex;
        align-items: center;
        padding: 0 24px;
        width: 100%;

        .actionIcon {
            width: 24px;
            height: 24px;
        }

        .actionName {
            margin-left: 8px;
            flex-grow: 1;
            display: -webkit-inline-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 16px;
            word-break: break-all;
        }

        .actionArrow {
            color: #00000072;
        }
    }
}

.branchStep {
    position: relative;
}

.delete-popover {
    :global(.@{ant-prefix}-popover-inner-content) {
        min-width: 220px;
    }

    :global(.@{ant-prefix}-popover-message) {
        padding-bottom: 24px;

        .warn-icon {
            font-size: 20px;
            color: #faad14;
            top: 4px;
        }

        :global(.@{ant-prefix}-popover-message-title) {
            padding-left: 26px;
        }
    }

    :global(.@{ant-prefix}-popover-buttons) {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 0;

        :global(.@{ant-prefix}-btn) {
            margin-left: 8px;
            padding: 0 12px;
        }
    }
}

.addBranchButton {
    position: absolute;
    left: 50%;
    margin-top: 1px;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-radius: 15px !important;
    border-color: #146de4;
    color: #146de4;

    &:hover {
        background: #f8f8fa !important;
    }
}

.branchWrapper {
    display: flex;
    flex-wrap: nowrap;
    position: relative;

    >.steps:not(:last-child) {
        margin-right: 120px;
    }

    >.steps::before {
        content: "";
        display: block;
        border-top: 2px solid #d3d4db;
        position: absolute;
        left: 0;
        right: -120px;
        top: 0;
    }

    >.steps::after {
        content: "";
        display: block;
        border-bottom: 2px solid #d3d4db;
        position: absolute;
        left: 0;
        right: -120px;
        bottom: 0;
    }

    >.steps:first-child::before {
        left: calc(50% - 1px);
    }

    >.steps:last-child::before {
        right: calc(50% - 1px);
    }

    >.steps:first-child::after {
        left: calc(50% - 1px);
    }

    >.steps:last-child::after {
        right: calc(50% - 1px);
    }
}

.loopStep {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    flex-grow: 1;
    width: max-content;
    position: relative;
    box-sizing: content-box;

    &::before {
        content: "";
        display: block;
        border-top: 2px solid #d3d4db;
        position: absolute;
        width: 50%;
        right: 0;
        top: 34px;
    }

    &::after {
        content: "";
        display: block;
        border-top: 2px solid #d3d4db;
        position: absolute;
        width: 50%;
        right: 0;
        bottom: 29px;
    }

    .loopback {
        position: absolute;
        top: 34px;
        right: 0;
        bottom: 29px;
        border-right: 2px solid #d3d4db;
    }
}

.loopStepEnd {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%) translateY(50%);
    z-index: 1;
    background-color: white;
    border: 1px solid #d4d4d4;
    height: 24px;
    padding: 0px 7px;
    font-size: 14px;
    border-radius: 2px;
    user-select: none;
    color: inherit;

    &::before {
        content: attr(data-no);
        position: absolute;
        left: calc(100% + 1em);
        transform: translateY(-50%);
    }

    &::after {
        content: attr(data-yes);
        position: absolute;
        top: calc(100% + 0.5em);
        left: 50%;
        transform: translateX(calc(-100% - 0.5em));
    }
}

.stepDivider {
    height: 16px;
    width: 2px;
    border-left: 2px solid #d3d4db;

    &.grow {
        flex-grow: 1;
    }
}

.addButton {
    font-size: 24px;
    cursor: pointer;
    color: rgba(20, 109, 228, 1);
}

.addButtonGroup {
    margin: -4px -8px;
    height: 56px;

    .addButtonGroupItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        user-select: none;
        cursor: pointer;
        width: 56px;
        height: 56px;
        border-radius: 4px;
        justify-content: center;

        &:hover,
        &:active {
            background: #d3d4dbb2;
        }

        .addButtonGroupItemIcon {
            flex-shrink: 0;
            font-size: 16px;
            margin-bottom: 4px;
        }

        .addButtonGroupItemLabel {
            font-size: 10px;
        }
    }

    .addButtonGroupItem .anticon {
        font-size: 20px;
    }
}

.tileWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tile {
    margin-top: 16px;
    // width: 224px;
    width: calc(50% - 4px);
    height: 76px;
    padding: 16px 16px 16px 48px;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    position: relative;

    &:nth-child(1),
    &:nth-child(2) {
        margin-top: 0;
    }

    &.selected {
        border-color: #126ee3;
    }

    .icon {
        position: absolute;
        left: 16px;
        top: 16px;
        width: 20px;
    }

    .name {
        font-weight: bold;
    }

    .nameRow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .description {
        margin-top: 4px;
        color: rgba(0, 0, 0, 0.45);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.configDrawer {
    // 控制台选择用户窗口为50
    z-index: 40;

    :global(.@{ant-prefix}-drawer-header) {
        border-bottom: none;
        padding: 0 32px;
        flex: 0 0 auto;
    }

    :global(.@{ant-prefix}-drawer-body) {
        // padding: 24px 32px 30px;
        padding: 24px 32px 0;

        // 兼容firefox 超出的部分剪裁到padding edge
        &::after {
            display: block;
            height: 30px;
            content: "";
            visibility: hidden;
        }
    }

    :global(.@{ant-prefix}-drawer-close) {
        position: absolute;
        margin: 0px;
        padding: 0px;
        top: 0px;
        right: 0px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 16px;
        color: #7f8391;
        text-align: center;
        border-radius: 0px;
        border-color: transparent;
        transition: none 0s ease 0s;

        &:hover {
            color: #ffffff;
            background-color: rgba(255, 103, 109, 0.7);
        }

        &:active {
            background-color: #ff677d;
            color: #ffffff;
        }
    }

    .sectionTitle {
        margin-bottom: 12px;
    }

    .configTitle {
        font-weight: bold;
        height: 64px;
        line-height: 64px;
    }

    .configSteps {
        margin-top: 16px;
    }

    :global(.@{ant-prefix}-steps-item-icon) {
        line-height: 22px;
    }

    .groupTitle {
        margin-top: 32px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;

        .groupIcon {
            margin-right: 8px;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    .conditions {
        margin-top: -24px;
    }

    .conditionTitle {
        margin-bottom: 8px;
    }
}

.conditionConfig {
    padding-top: 28px;
    position: relative;

    .removeButton {
        position: absolute;
        top: 0;
        right: 0;
        width: 16px;
        height: 16px;
        font-size: 16px;
    }
}

.andDivider {
    > :global(.@{ant-prefix}-divider-inner-text) {
        border-radius: 2px;
        background: #d8d8d8;
        color: #505050;
        font-size: 12px;
        padding: 0;
        width: 24px;
        height: 18px;
        flex-shrink: 0;
    }
}

.orDivider {
    display: flex;
    width: 24px;
    flex-direction: column;
    align-items: center;
    margin-left: 28px;

    &::before,
    &::after {
        display: block;
        content: "";
        border-left: 1px solid #d3d4db;
        height: 8px;
    }

    >.text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 18px;
        border-radius: 2px;
        background: #d8d8d8;
        color: #505050;
        font-size: 12px;
    }
}

.conditionGroup {
    background: #dceaf94c;
    padding: 12px 16px 24px;
}

.conditionGroup:last-of-type {
    margin-bottom: 24px;
}

.variablePicker {
    :global(.@{ant-prefix}-modal-content) {
        height: 100%;
    }

    :global(.@{ant-prefix}-modal-body) {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .variableGroupsContainer {
        height: 0;
        flex-grow: 1;
        overflow: auto;
        margin: 24px -24px -24px;
    }

    .variableGroups {
        margin: 0 24px;
        padding-bottom: 24px;
        height: 100%;

        :global(.@{ant-prefix}-collapse-header) {
            padding: 8px 0;
        }

        :global(.@{ant-prefix}-collapse-content-box) {
            padding: 8px 20px !important;
        }

        :global(.@{ant-prefix}-collapse-header-text) {
            display: inline-block;
            max-width: calc(100% - 36px);
        }

        .variableGroupTitle {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: top;
            max-width: 100%;
            font-weight: bold;

            .icon {
                height: 16px;
                width: 16px;
                margin: 0 4px 0 10px;
                vertical-align: middle;
            }

            .text,
            .index {
                vertical-align: middle;
            }
        }

        .variableGroup {
            &:not(:first-child) {
                border-top: 1px solid #f4f4f4;
            }

            +.empty {
                display: none;
            }
        }

        .empty {
            // height: 296px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: rgba(0, 0, 0, 0.55);

            .emptyIcon {
                width: 128px;
                height: 128px;
                margin-bottom: 8px;
            }
        }
    }

    .variableRow {
        margin-bottom: 8px;
    }

    .variableItem {
        padding: 0 6px;
        background: rgba(99, 181, 255, 0.12);
        border-radius: 2px;
        max-width: 100%;
        color: #63b5ff;

        >.variableName {
            display: inline-block;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: top;

            >em {
                color: #f39223;
            }
        }
    }
}

.formItem {
    &.hasVariable {
        :global(.@{ant-prefix}-form-item-extra) {
            position: absolute;
            top: -2px;
            right: 0;
            transform: translateY(-100%);
        }

        .variableInput {
            .variableTag {
                // display: inline-flex;
                // align-items: center;
                vertical-align: top;

                .variableIcon {
                    width: 12px;
                    height: 12px;
                    vertical-align: baseline;
                }
            }

            &.invalid {
                :global(.@{ant-prefix}-select-selection-item) {
                    background: #f5f5f7;
                    color: #a2a2a4;

                    .variableTag {
                        .variableIcon {
                            filter: grayscale(1);
                        }
                    }
                }
            }

            :global(.@{ant-prefix}-select-selection-overflow) {
                flex-wrap: nowrap;
            }

            :global(.@{ant-prefix}-select-selection-item) {
                background: rgba(99, 181, 255, 0.12);
                border-radius: 2px;
                color: #63b5ff;
                border-color: rgba(255, 255, 255, 0);
            }

            :global(.@{ant-prefix}-select-selection-item-remove) {
                display: none;
            }
        }
    }

    :global(.@{ant-prefix}-btn:not(.@{ant-prefix}-btn-icon-only):not(.@{ant-prefix}-btn-sm):not(.@{ant-prefix}-btn-link):not(.@{ant-prefix}-btn-text)) {
        height: 30px;
        min-width: 48px;
        padding: 0px 8px;
    }

    :global(.@{ant-prefix}-form-item-label)> :global(label.@{ant-prefix}-form-item-required) {
        &:not(:global(.@{ant-prefix}-form-item-required-mark-optional)) {
            &::before {
                display: none;
            }

            &::after {
                display: inline-block;
                margin-left: 4px;
                color: rgb(255, 77, 79);
                font-size: 13px;
                font-family: inherit;
                line-height: 1;
                content: "*";
            }
        }
    }
}

.dataSourceConfigLabel {
    .dataSourceConfigDescription {
        // color: #00000072;
        color: rgba(0, 0, 0, 0.55);
    }
}

:global(.@{ant-prefix}-select-selection-item) {
    .dataSourceConfigLabel {
        .dataSourceConfigDescription {
            display: none;
        }
    }
}

// 抽屉可滚动时页脚阴影
:global(.show-scroll-shadow) :global(.@{ant-prefix}-drawer-footer) {
    box-shadow: 0 -2px 4px 0 rgb(0 0 0 / 6%);
    z-index: 1;
}

.template-select {
    position: absolute;
    top: 20px;
    left: 24px;
    padding: 12px;
    height: 46px;
    line-height: 22px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.template-drawerTitle {
    padding: 12px 0;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
}

.template-drawer-card {
    margin-bottom: 16px;
    cursor: default;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);

    .card-title {
        display: flex;
        align-items: center;
    }

    .card-description {
        color: rgba(127, 131, 145, 1);
        font-size: 13px;
        line-height: 24px;
        white-space: pre-wrap;
    }

    .template-icon {
        font-size: 20px;
        margin-right: 8px;
    }

    :global(.@{ant-prefix}-card-head) {
        min-height: 44px;
        height: 44px;
        border-radius: 8px 8px 0px 0px;
        background: rgba(246, 249, 253, 1);
    }

    :global(.@{ant-prefix}-card-head-title) {
        padding: 10px 0;
        color: rgba(0, 0, 0, 0.8);
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
    }

    :global(.@{ant-prefix}-card-extra) {
        padding: 6px 0;

        button {
            visibility: hidden;
            transition: none;
            font-size: 13px;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: left;
        }
    }

    :global(.@{ant-prefix}-card-body) {
        padding: 12px 24px 20px;
    }
}

.edit-action {
    height: 120px;
}

.action-icon {
    margin-right: 12px;
}

.step-segmented {
    width: 100%;
    margin-bottom: 16px;

    :global {
        .@{ant-prefix}-segmented-item {
            width: 50%;
        }
        .@{ant-prefix}-segmented-item-label {
            min-height: 30px;
            line-height: 30px;
        }
    }

}