namespace: dip
moduleName: mdl-data-model

# 环境变量：语言/时区
env:
  timezone: Asia/Shanghai
  language: en_US.UTF-8

replicaCount: 1

# 节点选择器
nodeSelector: {}

image:
  registry: acr.aishu.cn
  repository: dip/mdl-data-model
  tag: 6.0.0-feature-dip-743562
  pullPolicy: IfNotPresent

service:
  dataModel:
    type: ClusterIP
    port: 13020
    nodePort: 31022
    ingress:
      enabled: true
      interface:
        path:
          - /api/mdl-data-model/v1

# 反亲和性设置
antiAffinity:
  enabled: true
  rule: "soft" # 可选参数 hard, soft

# 微服务通信依赖配置
depServices:
  class-443:
    ingressClass: class-443
  rds:
    host: mariadb-mariadb-master.resource.svc.cluster.local.
    port: 3330
    user: test
    password: testpwd
    type: MariaDB
  mq:
    auth:
      mechanism: PLAIN
      username: test
      password: testpwd
    mqHost: kafka-headless.resource.svc.cluster.local.
    mqPort: 9097
    mqType: kafka
    protocol: sasl_plaintext
    tenant: default
  authorization-private:
    host: authorization-private
    port: 30920
    protocol: http
  hydra-admin:
    host: hydra-admin
    port: 4445
    protocol: http
  data-model-job:
    host: mdl-data-model-job-svc
    port: 13025
    protocol: http
  index-base:
    host: mdl-index-base-svc
    port: 13013
    protocol: http
  data-connection:
    host: data-connection
    port: 8098
    protocol: http
  vega-gateway:
    host: vega-gateway
    port: 8099
    protocol: http
  uniquery:
    host: mdl-uniquery-svc
    port: 13011
    protocol: http

config:
  server:
    runMode: release
    httpPort: 13020
    language: zh-CN
    readTimeOut: 120
    writeTimeOut: 120
    persistSteps: 
    - 5m
    - 10m
    - 15m
    - 20m
    - 30m
    - 1h
    - 2h
    - 3h
    - 6h
    - 12h
    - 1d
    watchMetadataInterval: 60  # 单位为秒
    watchMetadataEnabled: true
  log:
    logLevel: info
    developMode: false
    maxAge: 100
    maxBackups: 20
    maxSize: 100
  thirdParty:
    tingYunTokenActiveTime: 120 # 单位为分钟
  dataModelJob:
    serviceDeploymentEnabled: true
  observability:
    logEnabled: false
    traceEnabled: false
    metricEnabled: false
    logExporter: console
    traceProvider: http
    metricProvider: http
    logLoadInternal: 1
    logLoadMaxLog: 10
    traceMaxQueueSize: 50000
    metricIntervalSecond: 60
    httpLogFeedIngesterUrl: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/dip-o11y-log/events
    httpTraceFeedIngesterUrl: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/dip-o11y-trace/events
    httpMetricFeedIngesterUrl: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/dip-o11y-metric/events
    grpcTraceFeedIngesterUrl: feed-ingester-service:30013
    grpcTraceJobId: dip-o11y-trace-grpc
  aesKey: ""

# 资源配置
resources:
  requests:
    cpu: 0
    memory: 0Gi
  limits:
    cpu: 4
    memory: 4Gi
