.item {
  padding: 16px;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  border-radius: 8px;

  dt {
    margin-bottom: 20px;
    font-size: 14px;
  }

  dd {
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
  }
}

.item-active {
  border: 1px solid #126ee3;
}
