apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Values.namespace }}
data:
  agent-operator-app.yaml: |     # 配置文件路径/sysvol/conf/agent-operator-app.yaml
    project:
      language: {{ .Values.service.language }}
      host: "0.0.0.0"
      port: {{ .Values.service.port }}
      logger_level: {{ .Values.service.loggerLevel }}
      name: {{ .Values.service.name | quote }}
      pod_id : {{ .Values.service.podID | quote }}
      machine_id: {{ .Values.service.machineID | quote }}
      debug: {{ .Values.service.debug }}
    oauth:
      public_host: {{ .Values.depServices.hydra.publicHost | quote }}
      public_port: {{ .Values.depServices.hydra.publicPort }}
      public_protocol: {{ .Values.depServices.hydra.publicProtocol | quote }}
      admin_host: {{ .Values.depServices.hydra.administrativeHost | quote }}
      admin_port: {{ .Values.depServices.hydra.administrativePort }}
      admin_protocol: {{ .Values.depServices.hydra.administrativeProtocol | quote }}
      admin_prefix: {{ .Values.depServices.hydra.administrativePrefix | quote }}
    user_management:
      private_protocol: {{ index .Values "depServices" "user-management" "privateProtocol" | quote }}
      private_host: {{ index .Values "depServices" "user-management" "privateHost" | quote }}
      private_port: {{ index .Values "depServices" "user-management" "privatePort" }}
    operator_integration:
      private_protocol: {{ index .Values "depServices" "operator-integration" "privateProtocol" | quote }}
      private_host: {{ index .Values "depServices" "operator-integration" "privateHost" | quote }}
      private_port: {{ index .Values "depServices" "operator-integration" "privatePort" }}
    db:
      conn_timeout: {{ .Values.depServices.rds.connTimeout }}
      read_timeout: {{ .Values.depServices.rds.readTimeout }}
      write_timeout: {{ .Values.depServices.rds.writeTimeout }}
      max_open_conns: {{.Values.depServices.rds.maxConnections}}
      system_id: {{ .Values.depServices.rds.system_id | quote }}


