apiVersion: v1
kind: Service
metadata:
  name: {{ include "flow-automation.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: {{ include "flow-automation.fullname" . }}
{{ include "flow-automation.labels" . | indent 4 }}
spec:
  {{- if .Values.service.enableDualStack }}
  ipFamilies:
  - IPv6
  - IPv4
  ipFamilyPolicy: PreferDualStack
{{- end }}
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "flow-automation.fullname" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}

---

apiVersion: v1
kind: Service
metadata:
  name: flow-automation-private
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: flow-automation-private
{{ include "flow-automation.labels" . | indent 4 }}
spec:
  {{- if .Values.service.enableDualStack }}
  ipFamilies:
  - IPv6
  - IPv4
  ipFamilyPolicy: PreferDualStack
{{- end }}
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: private
      protocol: TCP
      name: private
  selector:
    app.kubernetes.io/name: {{ include "flow-automation.fullname" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
