@font-face {
  font-family: iconfont; /* Project id 4878725 */
  src: url('iconfont.woff2?t=1762321428180') format('woff2'),
       url('iconfont.woff?t=1762321428180') format('woff'),
       url('iconfont.ttf?t=1762321428180') format('truetype'),
       url('iconfont.svg?t=1762321428180#iconfont') format('svg');
}

.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dip-faildetails::before {
  content: "\e6be";
}

.icon-dip-task::before {
  content: "\e6bb";
}

.icon-dip-yitianjiapeizhi::before {
  content: "\e62e";
}

.icon-dip-morenmodel::before {
  content: "\e6b4";
}

.icon-dip-peie::before {
  content: "\e6b7";
}

.icon-dip-gongzuoliu::before {
  content: "\e62d";
}

.icon-dip-guandao::before {
  content: "\e62c";
}

.icon-dip-xinjianjiedian::before {
  content: "\e6b5";
}

.icon-dip-bangzhu::before {
  content: "\e6d6";
}

.icon-dip-chakandaxiao::before {
  content: "\e66f";
}

.icon-dip-huanyuan::before {
  content: "\e65f";
}

.icon-dip-ai::before {
  content: "\e65e";
}

.icon-dip-qiehuan::before {
  content: "\e62b";
}

.icon-dip-shouquan1::before {
  content: "\e65d";
}

.icon-dip-Details::before {
  content: "\e6ad";
}

.icon-dip-nousedata::before {
  content: "\e6ae";
}

.icon-dip-usedata::before {
  content: "\e6b2";
}

.icon-dip-suanziguanli::before {
  content: "\e628";
}

.icon-dip-suanzigongchang::before {
  content: "\e629";
}

.icon-dip-quanbusuanzi::before {
  content: "\e62a";
}

.icon-dip-group::before {
  content: "\e6aa";
}

.icon-dip-actions::before {
  content: "\e6ab";
}

.icon-dip-object::before {
  content: "\e6ac";
}

.icon-dip-link::before {
  content: "\e6a8";
}

.icon-dip-shitushezhi::before {
  content: "\e627";
}

.icon-dip-youhuabuju::before {
  content: "\e626";
}

.icon-dip-a-shouqi2::before {
  content: "\e6db";
}

.icon-dip-jia::before {
  content: "\e6e0";
}

.icon-dip-jian1::before {
  content: "\e6e4";
}

.icon-dip-daoru::before {
  content: "\e625";
}

.icon-dip-a-daochu1::before {
  content: "\e624";
}

.icon-dip-shijianchuoxing::before {
  content: "\e6b8";
}

.icon-dip-riqixing::before {
  content: "\e6b6";
}

.icon-dip-riqishijianxing::before {
  content: "\e6b3";
}

.icon-dip-xiaoshuxing::before {
  content: "\e6c0";
}

.icon-dip-buerxing::before {
  content: "\e6ba";
}

.icon-dip-wenbenxing::before {
  content: "\e6b9";
}

.icon-dip-zhengshuxing::before {
  content: "\e6b1";
}

.icon-dip-erjinzhi::before {
  content: "\e6af";
}

.icon-dip-kinship-full::before {
  content: "\e862";
}

.icon-dip-kuaizhao::before {
  content: "\e623";
}

.icon-dip-ziduanmoxing::before {
  content: "\e61f";
}

.icon-dip-suoyinguanli::before {
  content: "\e61e";
}

.icon-dip-mubiaomoxing::before {
  content: "\e621";
}

.icon-dip-lianlumoxing::before {
  content: "\e622";
}

.icon-dip-zhibiaomoxing::before {
  content: "\e61d";
}

.icon-dip-zhishitiaomu::before {
  content: "\e61c";
}

.icon-dip-a-shujumoxing1::before {
  content: "\e61b";
}

.icon-dip-shujushitu::before {
  content: "\e61a";
}

.icon-dip-wendang::before {
  content: "\e617";
}

.icon-dip-suoyin::before {
  content: "\e618";
}

.icon-dip-shujulianjie::before {
  content: "\e619";
}

.icon-dip-cepingzhibiao::before {
  content: "\e6a9";
}

.icon-dip-cepingshuju::before {
  content: "\e6a4";
}

.icon-dip-xiaoguoceping::before {
  content: "\e6a5";
}

.icon-dip-chakanbangdan::before {
  content: "\e6a6";
}

.icon-dip-tishicikaifa::before {
  content: "\e6a7";
}

.icon-dip-moxinggongchang::before {
  content: "\e6a3";
}

.icon-dip-bentiyinqing::before {
  content: "\e6a2";
}

.icon-dip-chaojizhushou::before {
  content: "\e69f";
}

.icon-dip-duomotaishujuhu::before {
  content: "\e6a0";
}

.icon-dip-zhinengtigongchang::before {
  content: "\e6a1";
}

.icon-dip-gongju::before {
  content: "\e69e";
}

.icon-dip-cebianlan::before {
  content: "\e69d";
}

.icon-dip-saomiao1::before {
  content: "\e616";
}

.icon-dip-DATALake::before {
  content: "\e69b";
}

.icon-dip-table::before {
  content: "\e699";
}

.icon-dip-echats::before {
  content: "\e69a";
}

.icon-dip-chenggong::before {
  content: "\e6b0";
}

.icon-dip-KG1::before {
  content: "\e697";
}

.icon-dip-data::before {
  content: "\e63e";
}

.icon-dip-upload::before {
  content: "\e6bf";
}

.icon-dip-daochu::before {
  content: "\e60b";
}

.icon-dip-history::before {
  content: "\e8ad";
}

.icon-dip-chat1::before {
  content: "\e67e";
}

.icon-dip-gengduo::before {
  content: "\e65c";
}

.icon-dip-a-yichu1::before {
  content: "\e65b";
}

.icon-dip-tishi::before {
  content: "\e65a";
}

.icon-dip-shouquan::before {
  content: "\e659";
}

.icon-dip-bianji::before {
  content: "\e658";
}

.icon-dip-Role::before {
  content: "\e652";
}

.icon-dip-Organization::before {
  content: "\e653";
}

.icon-dip-a-UserGroup::before {
  content: "\e654";
}

.icon-dip-User::before {
  content: "\e655";
}

.icon-dip-a-ApplicationAccount::before {
  content: "\e656";
}

.icon-dip-Department::before {
  content: "\e657";
}

.icon-dip-list::before {
  content: "\e67d";
}

.icon-dip-yingyong::before {
  content: "\e6d9";
}

.icon-dip-copy::before {
  content: "\e607";
}

.icon-dip-export::before {
  content: "\e696";
}

.icon-dip-back::before {
  content: "\e695";
}

.icon-dip-UserAgreement::before {
  content: "\e692";
}

.icon-dip-privacypolicy::before {
  content: "\e691";
}

.icon-dip-help::before {
  content: "\e694";
}

.icon-dip-language-outline::before {
  content: "\e7df";
}

.icon-dip-about::before {
  content: "\e693";
}

.icon-dip-think::before {
  content: "\e67c";
}

.icon-dip-modelm::before {
  content: "\e68e";
}

.icon-dip-lianbangAI::before {
  content: "\e68f";
}

.icon-dip-KG::before {
  content: "\e690";
}

.icon-dip-expand::before {
  content: "\e67b";
}

.icon-dip-chat2::before {
  content: "\e67a";
}

.icon-dip-net::before {
  content: "\e676";
}

.icon-dip-write::before {
  content: "\e677";
}

.icon-dip-doc-qa::before {
  content: "\e675";
}

.icon-dip-task-list::before {
  content: "\e678";
}

.icon-dip-graph-qa::before {
  content: "\e679";
}

.icon-dip-check::before {
  content: "\e60a";
}

.icon-dip-sort-descending::before {
  content: "\e601";
}

.icon-dip-right::before {
  content: "\e602";
}

.icon-dip-arrow-up::before {
  content: "\e603";
}

.icon-dip-search::before {
  content: "\e604";
}

.icon-dip-left::before {
  content: "\e605";
}

.icon-dip-filter::before {
  content: "\e606";
}

.icon-dip-close::before {
  content: "\e608";
}

.icon-dip-refresh::before {
  content: "\e609";
}

.icon-dip-calendar::before {
  content: "\e68c";
}

.icon-dip-person::before {
  content: "\e68d";
}

.icon-dip-add::before {
  content: "\e6bc";
}

.icon-dip-trash::before {
  content: "\e6bd";
}

.icon-dip-introduction::before {
  content: "\e620";
}

.icon-dip-move::before {
  content: "\e7a0";
}

.icon-dip-chat::before {
  content: "\e698";
}

.icon-dip-deep-thinking::before {
  content: "\e69c";
}

.icon-dip-attachment::before {
  content: "\e672";
}

