.table-operation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.table-operation-filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background: rgb(0 0 0 / 2%);
  border-radius: 8px 8px 0;
}
