.mapping-rules-data-view-root {
  .data-view-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 0 11px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 6px;

    &:hover {
      border-color: var(--g-primary-color);
    }
  }

  .view-data-option-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    font-size: 12px;
    color: #fff;
    background-color: var(--g-primary-color);
    border-radius: 16px;
  }
}
