parameters:
  - name: name
    default: ''
  - name: pool
    default: ''
  - name: containerName
    default: ''
  - name: registry
    default: ''
  - name: imageRepository
    default: ''
  - name: artifactName
    default: ''
  - name: dependencyArtifact
    default: ''
  - name: arch
    default: ''
  - name: buildImageJobName
    default: ''

jobs:
  - job: ${{ parameters.name }}
    displayName: ${{ parameters.name }}
    pool:
      name: ${{ parameters.pool }}
    container: ${{ parameters.containerName }}
    workspace:
      clean: all
    steps:
      - checkout: self
      - task: CopyFiles@2
        inputs:
          # 这里填需要放到镜像中的路径，一行一个
          contents: |
            deps/**
            coderunner/**
            init_site_packages.sh
            Dockerfile.coderunner
          targetFolder: $(Build.BinariesDirectory)
      - task: PublishBuildArtifacts@1
        inputs:
          # 由于Pipeline机制，不同的job可能会在不同的workspace执行，所以需要通过artifact在job间传递文件
          pathToPublish: $(Build.BinariesDirectory)
          artifactName: ${{parameters.artifactName}}
      - script: |
          rm -rf ./**
          rm -rf $(Build.BinariesDirectory)/**/
          ls
        displayName: "Remove Source"
        condition: always()
  - job: ${{ parameters.buildImageJobName }}
    displayName: ${{ parameters.buildImageJobName }}
    dependsOn: ${{ parameters.name }}
    pool:
      name: ${{ parameters.pool }}
    steps:
      # 主意修改对应的变量，下面的 image.registry 以及 image.repository.backend 均来自变量组 global-config
      # 可以每个服务建立一个变量组管理这类公用变量
      - checkout: none
      - task: DownloadBuildArtifacts@0
        inputs:
          artifactName: ${{parameters.artifactName}}
          downloadPath: $(Build.BinariesDirectory)
      - script: |
          set -ex
          
          CURRENT_IMAGE="$(imageRegistry)/$(imageCRRepository):$(CURRENT_TAG).${{ parameters.arch }}"
          LATEST_IMAGE="$(imageRegistry)/$(imageCRRepository):$(LATEST_TAG).${{ parameters.arch }}"

          cd $(Build.BinariesDirectory)/${{parameters.artifactName}}
          docker build -f ./Dockerfile.coderunner -t $LATEST_IMAGE .
          docker tag $LATEST_IMAGE $CURRENT_IMAGE

          set +x
          echo "##vso[task.setvariable variable=BuildAgentName;isOutput=true]$(Agent.Name)"
          echo "##vso[task.setvariable variable=CURRENT_IMAGE;isoutput=true]$CURRENT_IMAGE"
          echo "##vso[task.setvariable variable=LATEST_IMAGE;isoutput=true]$LATEST_IMAGE"

        name: getAgentName
        displayName: "Build"
      - script: |
          ls
          rm -rf ./**
          rm -rf $(Build.ArtifactStagingDirectory)/**/
        displayName: "Remove Source"
        condition: always()
      - script: |
          CURRENT_IMAGE="$(imageRegistry)/$(imageCRRepository):$(CURRENT_TAG).${{ parameters.arch }}"
          LATEST_IMAGE="$(imageRegistry)/$(imageCRRepository):$(LATEST_TAG).${{ parameters.arch }}"
          docker rmi -f $CURRENT_IMAGE
          docker rmi -f $LATEST_IMAGE
          docker images
        displayName: "Clearn Image"
        condition: failed()
