.dip-bg {
  background: rgba(0, 0, 0, 0.85);
}
.dip-bg-white {
  background: var(--dip-white) !important;
}
.dip-bg-primary {
  background: var(--dip-primary-color);
}
.dip-bg-link {
  background: var(--dip-link-color);
}
.dip-bg-success {
  background: var(--dip-success-color);
}
.dip-bg-warning {
  background: var(--dip-warning-color);
}
.dip-bg-error {
  background: var(--dip-error-color);
}
.dip-bg-header {
  background: var(--dip-heading-color);
}
.dip-bg-text {
  background: var(--dip-text-color);
}
.dip-bg-subtext {
  background: var(--dip-text-color-45);
}
.dip-bg-watermark {
  background: var(--dip-disabled-color);
}
.dip-bg-hover {
  background: var(--dip-hover-bg-color);
}
.dip-bg-selected {
  background: var(--dip-select-bg-color);
}
.dip-bg-border {
  background: var(--dip-border-color-base);
}
.dip-bg-white {
  background: var(--dip-white) !important;
}
