.dip-border {
  border: var(--dip-border);
}

.dip-border-t {
  border-top: var(--dip-border);
}

.dip-border-r {
  border-right: var(--dip-border);
}

.dip-border-b {
  border-bottom: var(--dip-border);
}

.dip-border-line-b {
  border-bottom: var(--dip-border-line);
}

.dip-border-l {
  border-left: var(--dip-border);
}

.dip-border-radius-2 {
  border-radius: 2px;
}

.dip-border-radius-3 {
  border-radius: 3px;
}

.dip-border-radius-4 {
  border-radius: 4px;
}

.dip-border-radius-6 {
  border-radius: 6px;
}

.dip-border-radius-8 {
  border-radius: 8px;
}

.dip-border-radius-10 {
  border-radius: 10px;
}

.dip-border-radius-12 {
  border-radius: 12px;
}

.dip-border-radius-14 {
  border-radius: 14px;
}

.dip-border-radius-16 {
  border-radius: 16px;
}

.dip-border-radius-18 {
  border-radius: 18px;
}

.dip-border-radius-20 {
  border-radius: 20px;
}

.dip-border-radius-22 {
  border-radius: 22px;
}

.dip-border-radius-full {
  border-radius: 50%;
}

.dip-border-form-item {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
