/* 字体颜色 */
.dip-c-white {
  color: var(--dip-white);
} // #ffff;
.dip-c-black {
  color: var(--dip-black);
} // 没有定义;
.dip-c-primary {
  color: var(--dip-primary-color) !important;
} // #126ee3;
.dip-c-link {
  color: var(--dip-link-color) !important;
} // #3461ec;
.dip-c-success {
  color: var(--dip-success-color) !important;
} // #52c41a;
.dip-c-warning {
  color: var(--dip-warning-color) !important;
} // #faad14;
.dip-c-error {
  color: var(--dip-error-color) !important;
} // #f5222d;
.dip-c-link-75 {
  color: var(--dip-link-color-75) !important;
} // rgba(52, 97, 236, 0.75);
.dip-c-header {
  color: var(--dip-heading-color) !important;
} // rgba(0, 0, 0, 1)
.dip-c-text {
  color: var(--dip-text-color);
} // rgba(0, 0, 0, 0.85)
.dip-c-text-important {
  color: var(--dip-text-color) !important;
} // rgba(0, 0, 0, 0.85)
.dip-c-text-lower {
  color: var(--dip-text-color-65) !important;
} // rgba(0, 0, 0, 0.65)
.dip-c-subtext {
  color: var(--dip-text-color-45) !important;
} // rgba(0, 0, 0, 0.45)
.dip-c-watermark {
  color: var(--dip-disabled-color) !important;
} // rgba(0, 0, 0, 0.25)
.dip-c-border {
  color: var(--dip-border-color-base) !important;
} // rgba(0, 0, 0, 0.15)
.dip-c-line {
  color: var(--dip-line-color) !important;
} // rgba(0, 0, 0, 0.06)
.dip-c-input {
  color: var(--dip-imitation-input-color) !important;
} // rgba(0, 0, 0, 0.04)

.dip-c-shadow {
  box-shadow: var(--ad-box-shadow-base);
}
.dip-c-hover {
  transition: color 0.3s;
  &:hover {
    color: var(--dip-link-color) !important;
  }
}
.dip-c-hover-color-deepens {
  transition: color 0.3s;
  &:hover {
    color: var(--dip-text-color) !important;
  }
}
