.dip-min-width-72 {
  min-width: 72px;
}

.dip-w-74 {
  width: 74px;
}

.dip-w-fit-content {
  width: fit-content;
}

.dip-max-w-100 {
  max-width: 100%;
}

.dip-h-24 {
  height: 24px;
}

.dip-m-w-100 {
  max-width: 100%;
}
