@import 'antd/dist/reset.css';
@import 'theme';
@import 'flex';
@import 'margin';
@import 'padding';
@import 'ellipsis';
@import 'text';
@import 'position';
@import 'overflow';
@import 'background';
@import 'border';
@import 'color';
@import 'reset';
@import 'scrollbar';
@import 'utilities';
@import 'dimension';

.dip-full {
  width: 100%;
  height: 100%;
}

.dip-w-100 {
  width: 100%;
}

.dip-h-100 {
  height: 100%;
}
