.dip-m-0 {
  margin: 0 !important;
}
.dip-m-2 {
  margin: 2px !important;
}
.dip-m-4 {
  margin: 4px !important;
}
.dip-m-6 {
  margin: 6px !important;
}
.dip-m-8 {
  margin: 8px !important;
}
.dip-m-10 {
  margin: 10px !important;
}
.dip-m-12 {
  margin: 12px !important;
}
.dip-m-14 {
  margin: 14px !important;
}
.dip-m-16 {
  margin: 16px !important;
}
.dip-m-18 {
  margin: 18px !important;
}
.dip-m-20 {
  margin: 20px !important;
}
.dip-m-22 {
  margin: 22px !important;
}
.dip-m-24 {
  margin: 24px !important;
}
.dip-m-26 {
  margin: 26px !important;
}
.dip-m-28 {
  margin: 28px !important;
}

.dip-mt-0 {
  margin-top: 0 !important;
}
.dip-mt-2 {
  margin-top: 2px !important;
}
.dip-mt-4 {
  margin-top: 4px !important;
}
.dip-mt-6 {
  margin-top: 6px !important;
}
.dip-mt-8 {
  margin-top: 8px !important;
}
.dip-mt-10 {
  margin-top: 10px !important;
}
.dip-mt-12 {
  margin-top: 12px !important;
}
.dip-mt-14 {
  margin-top: 14px !important;
}
.dip-mt-16 {
  margin-top: 16px !important;
}
.dip-mt-18 {
  margin-top: 18px !important;
}
.dip-mt-20 {
  margin-top: 20px !important;
}
.dip-mt-22 {
  margin-top: 22px !important;
}
.dip-mt-24 {
  margin-top: 24px !important;
}
.dip-mt-26 {
  margin-top: 26px !important;
}
.dip-mt-28 {
  margin-top: 28px !important;
}

.dip-mr-0 {
  margin-right: 0 !important;
}
.dip-mr-2 {
  margin-right: 2px !important;
}
.dip-mr-4 {
  margin-right: 4px !important;
}
.dip-mr-6 {
  margin-right: 6px !important;
}
.dip-mr-8 {
  margin-right: 8px !important;
}
.dip-mr-10 {
  margin-right: 10px !important;
}
.dip-mr-12 {
  margin-right: 12px !important;
}
.dip-mr-14 {
  margin-right: 14px !important;
}
.dip-mr-16 {
  margin-right: 16px !important;
}
.dip-mr-18 {
  margin-right: 18px !important;
}
.dip-mr-20 {
  margin-right: 20px !important;
}
.dip-mr-22 {
  margin-right: 22px !important;
}
.dip-mr-24 {
  margin-right: 24px !important;
}
.dip-mr-26 {
  margin-right: 26px !important;
}
.dip-mr-28 {
  margin-right: 28px !important;
}

.dip-ml-0 {
  margin-left: 0 !important;
}
.dip-ml-2 {
  margin-left: 2px !important;
}
.dip-ml-4 {
  margin-left: 4px !important;
}
.dip-ml-6 {
  margin-left: 6px !important;
}
.dip-ml-8 {
  margin-left: 8px !important;
}
.dip-ml-10 {
  margin-left: 10px !important;
}
.dip-ml-12 {
  margin-left: 12px !important;
}
.dip-ml-14 {
  margin-left: 14px !important;
}
.dip-ml-16 {
  margin-left: 16px !important;
}
.dip-ml-18 {
  margin-left: 18px !important;
}
.dip-ml-20 {
  margin-left: 20px !important;
}
.dip-ml-22 {
  margin-left: 22px !important;
}
.dip-ml-24 {
  margin-left: 24px !important;
}
.dip-ml-26 {
  margin-left: 26px !important;
}
.dip-ml-28 {
  margin-left: 28px !important;
}
.dip-ml-32 {
  margin-left: 32px !important;
}
.dip-ml-40 {
  margin-left: 40px !important;
}

.dip-mb-0 {
  margin-bottom: 0 !important;
}
.dip-mb-2 {
  margin-bottom: 2px !important;
}
.dip-mb-4 {
  margin-bottom: 4px !important;
}
.dip-mb-6 {
  margin-bottom: 6px !important;
}
.dip-mb-8 {
  margin-bottom: 8px !important;
}
.dip-mb-10 {
  margin-bottom: 10px !important;
}
.dip-mb-12 {
  margin-bottom: 12px !important;
}
.dip-mb-14 {
  margin-bottom: 14px !important;
}
.dip-mb-16 {
  margin-bottom: 16px !important;
}
.dip-mb-18 {
  margin-bottom: 18px !important;
}
.dip-mb-20 {
  margin-bottom: 20px !important;
}
.dip-mb-22 {
  margin-bottom: 22px !important;
}
.dip-mb-24 {
  margin-bottom: 24px !important;
}
.dip-mb-26 {
  margin-bottom: 26px !important;
}
.dip-mb-28 {
  margin-bottom: 28px !important;
}
.dip-mb-32 {
  margin-bottom: 32px !important;
}
