.dip-overflow-auto {
  overflow: auto;
}

.dip-overflowX-auto {
  overflow-x: auto;
}

.dip-overflowY-auto {
  overflow-y: auto;
}

.dip-overflow-hidden {
  overflow: hidden;
}

.dip-overflowX-hidden {
  overflow-x: hidden;
}

.dip-overflowY-hidden {
  overflow-y: hidden;
}
