::-webkit-scrollbar {
  width: 8px;
  /*对垂直流动条有效*/
  height: 8px;
  /*对水平流动条有效*/
}

/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #eaeaea;
}

// 定义monaco-editor滚动条轨道颜色、内阴影及圆角
#operator-web .monaco-editor .scrollbar .slider {
  border-radius: 10px !important;
  background-color: #eaeaea !important;
}
