:root {
  --dip-white: #fff;
  --dip-black: #000;
  --dip-primary-color: #126ee3;
  --dip-primary-color-rgb: 18, 110, 227;
  --dip-link-color: #3461ec;
  --dip-success-color: #52c41a;
  --dip-warning-color: #faad14;
  --dip-error-color: #f5222d;
  --dip-info-color: #126ee3;
  --dip-primary-color-hover: #3a8ff0;
  --dip-link-color-75: rgba(52, 97, 236, 0.75);
  --dip-text-color: rgba(0, 0, 0, 1);
  --dip-text-color-85: rgba(0, 0, 0, 0.85);
  --dip-text-color-80: rgba(0, 0, 0, 0.8);
  --dip-text-color-75: rgba(0, 0, 0, 0.75);
  --dip-text-color-65: rgba(0, 0, 0, 0.65);
  --dip-text-color-45: rgba(0, 0, 0, 0.45);
  --dip-text-color-25: rgba(0, 0, 0, 0.25);
  --dip-imitation-input-color: rgba(0, 0, 0, 0.04);
  --dip-disabled-color: rgba(0, 0, 0, 0.25);
  --dip-border-color: rgba(0, 0, 0, 0.1);
  --dip-border-color-base: rgba(0, 0, 0, 0.15);
  --dip-line-color: rgba(0, 0, 0, 0.06);
  --dip-hover-bg-color: #f5f5f5;
  --dip-select-bg-color: #f1f7fe;
  --dip-border-radius: 3px;
  --dip-border: 1px solid rgba(0, 0, 0, 0.1);
  --dip-border-line: 1px solid rgba(0, 0, 0, 0.05);
  --dip-border-radius-base: 3px;
  --dip-heading-color: rgba(0, 0, 0, 1);
  --dip-box-shadow:
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --dip-line-heignt: 1.5714285714285714;
  --dip-line-heignt-22: 22px;
  --dip-line-heignt-26: 26px;
}
