.label {
    padding: 3px 8px 3px 0;
    white-space: nowrap;
    display: inline-flex;
    min-width: 160px;
}

.UserSelectRender {
    display: flex;

    .input {
        flex-grow: 1;
        margin-right: 8px;
        width: 0;
    }
}

.PermInfo {
    background: rgba(220, 234, 249, 0.298);
    padding: 36px 16px 24px;

    .removeButton {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 12px;
        height: 12px;
        font-size: 12px;
    }
}

.radio-inherit {
    margin-left: 24px;
    margin-bottom: 0px;
}

.radio-config {
    margin-bottom: 0px;
}

.radio-config-set {
    margin-top: 8px;
}

.perminfo {
    margin-top: 24px;
}