.common-table-page-card {
  width: 100%;
  height: 100%;
}

.common-table-page-card-content {
  padding-right: 20px;
  margin-right: -20px;
  overflow: hidden auto;
}

.common-table-page-card-content-item {
  position: relative;
}
