.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fff;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;

    .form {
        padding: 0 32px;
        overflow: auto;
        flex-grow: 1;

        .link {
            font-size: 12px;
            color: rgba(52, 97, 236, 0.75);
            cursor: pointer;

            &:hover {
                color: rgb(52, 97, 236);
            }
        }

        .description {
            font-size: 12px;
            color: #8e8e93;
            line-height: 20px;
        }

        :global(.@{ant-prefix}-form-item-label) > label {
            display: block;
        }

        :global(.@{ant-prefix}-form-item) {
            margin: 0 0 24px;
        }

        :global(.@{ant-prefix}-form-item-label-left) {
            overflow: visible;
        }

        :global(.@{ant-prefix}-form-item-label)
            > label:global(.@{ant-prefix}-form-item-required):not(
                :global(.@{ant-prefix}-form-item-required-mark-optional)
            )::before {
            position: absolute;
            left: -12px;
        }

        :global(.@{ant-prefix}-form-item-control-input) {
            min-height: auto;
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        flex-shrink: 0;
        padding: 20px 32px;
        height: 70px;
    }
}

.check-box-group {
    display: inline-flex;

    label span {
        white-space: nowrap;
    }
}

.input {
    height: 30px;
}

textarea.textarea {
    height: 70px;
    resize: none;
}

.modal {
    .link {
        color: rgba(52, 97, 236, 0.75);
        cursor: pointer;

        &:hover {
            color: rgb(52, 97, 236);
        }
    }
    :global(.@{ant-prefix}-modal-confirm-body > .@{iconfont-css-prefix}) {
        font-size: 28px;
    }

    :global(
            .@{ant-prefix}-modal-confirm-body
                > .@{iconfont-css-prefix}
                + .@{ant-prefix}-modal-confirm-title
                + .@{ant-prefix}-modal-confirm-content
        ) {
        margin-left: 44px;
    }

    :global(.@{ant-prefix}-modal-confirm-body)
        :global(.@{ant-prefix}-modal-confirm-title) {
        font-size: 15px;
        font-weight: 700;
        color: #000;
        line-height: 28px;
    }

    :global(.@{ant-prefix}-modal-body) {
        padding: 32px 32px 20px;
    }

    :global(.@{ant-prefix}-modal-confirm-body) {
        min-height: 92px;
    }

    :global(.@{ant-prefix}-modal-confirm-btns) {
        :global(.@{ant-prefix}-btn-primary) {
            padding: 0 8px;
            line-height: 24px;
            border-radius: 4px;
        }
    }
}

.not-allowed-modal {
    .not-allowed-content {
        padding: 8px;
        overflow: auto;
        height: 120px;
        border: 1px solid #dddddd;
        border-radius: 4px;
        border: 1px solid rgb(255, 255, 255);
        background: rgb(246, 246, 248);
        font-size: 13px;

        .not-allowed-item {
            display: flex;
            margin-bottom: 12px;
        }

        .not-allowed-item:last-child {
            margin-bottom: 0;
        }

        .not-allowed-item-name-wrapper {
            display: flex;
            align-items: center;
        }

        .not-allowed-item-name {
            color: rgba(0, 0, 0, 0.55);
            line-height: 24px;
        }

        .not-allowed-item-reason {
            color: rgba(0, 0, 0, 0.55);
            line-height: 24px;
        }
    }

    .link {
        color: rgba(52, 97, 236, 0.75);
        cursor: pointer;

        &:hover {
            color: rgb(52, 97, 236);
        }
    }

    :global(.@{ant-prefix}-modal-confirm-body) {
        min-height: 92px;
    }

    &:global(.@{ant-prefix}-modal-confirm-info)
        :global(.@{ant-prefix}-modal-body) {
        padding: 32px 32px 20px;
    }

    &:global(.@{ant-prefix}-modal-confirm-info)
        :global(.@{ant-prefix}-modal-confirm-body)
        > :global(.@{iconfont-css-prefix}-info-circle) {
        font-size: 28px;
        color: #1890ff;
    }

    :global(.@{ant-prefix}-modal-confirm-body)
        :global(.@{ant-prefix}-modal-confirm-title) {
        line-height: 28px;
    }

    :global(.@{ant-prefix}-modal-confirm-body)
        :global(.@{ant-prefix}-modal-confirm-title)
        + :global(.@{ant-prefix}-modal-confirm-content) {
        margin-left: 44px;
    }
}
