.inputNumber {
    position: relative;

    :global {
        .@{ant-prefix}-input-number-prefix {
            position: absolute;
            right: 4px;
            top: 4px;
            z-index: 2;
        }
    }
}
.timeoutDelay {
    background: #f5f9fd;
    padding: 20px;
    border-radius: 8px;
}
.retry {
    margin-bottom: 10px;
}