.drawerBox {
  background-image: url('@/assets/images/action/detail_bg.png') !important;
  background-size: cover;

  :global {
    .ant-table,
    .ant-table-placeholder,
    .ant-table-thead > tr > td,
    .ant-table-tbody > tr > td,
    .ant-table-thead > tr > th {
      background-color: transparent !important;
    }
  }

  .settingTitle {
    padding: 0 8px;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }
}

.footer {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.metricRow {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 50px;
}

.addRow {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 80px;
  padding-left: 16px;
  margin-top: 10px;
  font-size: 14px;
  color: #126ee3;
  cursor: pointer;
}
