.all-page-category-wrapper {
    .not-first-tab {
        margin-top: 16px;
    }
}

.all-page-category-title {
    margin-left: 32px;
    margin-bottom: 12px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}