.render-item {
  display: flex;
  align-items: center;
}

.input {
  flex-grow: 1;
  margin-right: 8px;
  width: 0;
  border-color: rgb(217, 217, 217);
  box-shadow: none;
  cursor: default;

  &:hover,
  &:active,
  &:focus {
    border-color: rgb(217, 217, 217);
    box-shadow: none;
  }
}
