.footer-btn-ok[disabled],
.footer-btn-ok[disabled]:active,
.footer-btn-ok[disabled]:focus,
.footer-btn-ok[disabled]:hover {
    color: #fff;
    -webkit-text-fill-color: #fff;
    border-color: transparent;
    border-radius: 4px;
    background: rgba(101, 177, 252, 0.5);
    text-shadow: none;
    box-shadow: none;
    cursor: default;
}