.action-info-root {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .divider {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .tag {
    max-width: 112px;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tool {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
    border-top: solid 1px rgba(5, 5, 5, 0.06);
    border-bottom: solid 1px rgba(5, 5, 5, 0.06);

    .text-wrapper {
      flex: 1;
      overflow: hidden;
    }
  }

  .line-height-32 {
    line-height: 32px;
  }

  .info-item {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    line-height: 32px;

    .label {
      width: 100px;
      flex-shrink: 0;
      color: rgba(0, 0, 0, 0.65);
    }

    .content {
      flex: 1;
      overflow: hidden;
    }
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .info-card {
    margin-bottom: 24px;

    .card-title {
      margin-bottom: 16px;
      color: #000;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
