:root {
  --g-spacing-0: 0;
  --g-spacing-1: 4px;
  --g-spacing-2: 8px;
  --g-spacing-3: 12px;
  --g-spacing-4: 16px;
  --g-spacing-5: 20px;
  --g-spacing-6: 24px;
  --g-spacing-7: 28px;
  --g-spacing-8: 32px;
  --g-spacing-9: 36px;
  --g-white: #ffff;
  --g-black: #000;
  --g-primary-color: #126ee3;
  --g-primary-color-rgb: 18, 110, 227;
  --g-primary-color-hover: #3a8ff0;
  --g-success-color: #52c41a;
  --g-success-color-rgb: 82, 196, 26;
  --g-warning-color: #faad14;
  --g-warning-color-rgb: 250, 173, 20;
  --g-error-color: #f5222d;
  --g-error-color-rgb: 245, 34, 45;
  --g-info-color: #126ee3;
  --g-info-color-rgb: 18, 110, 227;
  --g-bg-color: #f1f1f1;
  --g-bg-color-rgb: 241, 241, 241;
  --g-hover-bg-color: #f5f5f5;
  --g-hover-bg-color-rgb: 245, 245, 245;
  --g-select-bg-color: #f1f7fe;
  --g-select-bg-color-rgb: 241, 247, 254;
  --g-link-color: #3461ec;
  --g-link-color-rgb: 52, 97, 236;
  --g-heading-color: rgba(0, 0, 0, 1);
  --g-title-color: rgba(0, 0, 0, 0.85);
  --g-text-color: rgba(0, 0, 0, 0.6);
  --g-text-color-sub: rgba(0, 0, 0, 0.45);
  --g-disabled-color: rgba(0, 0, 0, 0.25);
  --g-border-color: rgba(0, 0, 0, 0.15);
  --g-border-color-base: rgba(0, 0, 0, 0.1);
  --g-line-color: rgba(0, 0, 0, 0.06);
  --g-placeholder-color: rgba(0, 0, 0, 0.04);
  --g-border: 1px solid rgba(0, 0, 0, 0.1);
  --g-border-radius: 8px;
  --g-box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
