.createAndEditForm {
  :global {
    .ant-segmented {
      margin-bottom: 20px !important;
    }
  }

  .aiCreateContent {
    .aiTextArea {
      height: 200px !important;
      resize: none !important;
    }
  }
}
