.import-modal {
  :global {
    .@{ant-prefix}-form-item .@{ant-prefix}-form-item-label > label {
      height: 22px !important;
    }
  }

  .import-mode-radio {
    :global {
      .@{ant-prefix}-radio {
        align-self: flex-start;
        top: 4px;
      }
    }
  }
}
