.card-tag {
  position: absolute;
  top: 28px;
  width: 38px;
  font-size: 6px;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: rgb(206, 153, 101);
  color: white;
}
