.preview-filter-root {
  position: relative;
  height: calc(100% - 140px);
  padding: 16px 0 16px 24px;

  .search-label {
    display: block;
    margin-bottom: 4px;
  }

  .quick-tags {
    padding: 6px 12px;
    cursor: pointer;
    border: var(--g-border);
    border-radius: var(--g-border-radius);
  }

  .condition-content {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;

    .condition-content-select {
      width: 146px;
    }
  }

  .ant-radio-wrapper {
    width: fit-content;
  }

  .filter-footer {
    position: absolute;
    bottom: -30px;
    left: 24px;
    background-color: #fff;
  }
}
