apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
  namespace: {{ .Values.namespace }}
type: Opaque
stringData:
  cronsvr-secret.yaml: |


    #数据库
    db_addr: {{ .Values.depServices.rds.host | quote }}
    db_port: {{ .Values.depServices.rds.port }}
    user_name: {{ .Values.depServices.rds.user | quote }}
    user_pwd: {{ .Values.depServices.rds.password | quote }}
    db_name: {{ .Values.depServices.rds.database | quote }}
    system_id: {{ .Values.depServices.rds.system_id | quote }}
    db_format: {{ .Values.depServices.rds.dbFormat | quote }}
    max_open_conns: {{ .Values.depServices.rds.maxConnections }}
    timeout: {{ .Values.depServices.rds.timeout }}
    read_timeout: {{ .Values.depServices.rds.readTimeout }}
    write_timeout: {{ .Values.depServices.rds.writeTimeout }}
