.tabs {
    margin: 0 32px;
}

.nav-item {
    display: inline-block;
    width: auto;
    max-width: 128px;
    margin-right: 32px;
    font-size: 14px;
    line-height: 46px;
    height: 40px;
    white-space: nowrap;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}
