.btn {
    margin-right: 8px;
    margin-bottom: 8px;
    min-width: 68px;
}

.icon {
    font-size: 16px;
}

.output-label {
    margin-top: 24px;
    margin-bottom: 8px;
}

.output-container {
    padding: 8px 16px;
    width: 100%;
    height: 320px;
    border-radius: 4px;
    background: rgb(1, 6, 14);
    color: rgba(208, 208, 208, 1);
    font-size: 13px;
    line-height: 18px;
    font-family: inherit;
    overflow: auto;
    overflow-wrap: break-word;

    .label {
        padding-right: 8px;
        white-space: nowrap;
    }
}

.modal {
    .variable-row {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        .label-col {
            width: 200px;
            flex-shrink: 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .input {
            margin-left: 16px;
        }
    }

    :global(.@{ant-prefix}-modal-header) {
        padding: 16px 32px;
        border-bottom: none;
    }

    :global(.@{ant-prefix}-modal-body) {
        padding: 8px 32px 20px;
        max-height: 200px;
        overflow: auto;
    }

    :global(.@{ant-prefix}-modal-footer) {
        padding: 0 32px 20px;
        border-top: none;
    }
}

.variableInput-wrapper {
    width: 100%;

    :global(.@{ant-prefix}-select) {
        pointer-events: none;
    }

    :global(.@{ant-prefix}-select-selection-item-content) > span {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        img {
            width: 12px;
            height: 12px;
            vertical-align: baseline;
        }
    }

    &.invalid {
        :global(.@{ant-prefix}-select-selection-item) {
            background: #f5f5f7;
            color: #a2a2a4;
            & > span > img {
                filter: grayscale(1);
            }
        }
    }

    :global(.@{ant-prefix}-select) {
        width: 100%;
        :global(.@{ant-prefix}-select-selector) {
            border: none;
            padding: 0;
        }
    }

    :global(.@{ant-prefix}-select-selection-overflow) {
        flex-wrap: nowrap;
    }

    :global(.@{ant-prefix}-select-selection-item) {
        background: rgba(99, 181, 255, 0.12);
        border-radius: 2px;
        color: #63b5ff;
        border-color: rgba(255, 255, 255, 0);
    }
    :global(.@{ant-prefix}-select-selection-item-remove) {
        display: none;
    }

    :global(.@{ant-prefix}-select-clear) {
        display: none;
    }
}
