.common-text-align-start {
  text-align: start;
}

.common-text-align-center {
  text-align: center;
}

.common-text-align-end {
  text-align: end;
}

.common-text-display-inline-block {
  display: inline-block;
}

.common-text-display-block {
  display: block;
}

.common-text-font-strong-1 {
  font-weight: 100;
}

.common-text-font-strong-2 {
  font-weight: 200;
}

.common-text-font-strong-3 {
  font-weight: 300;
}

.common-text-font-strong-4 {
  font-weight: 400;
}

.common-text-font-strong-5 {
  font-weight: 500;
}

.common-text-font-strong-6 {
  font-weight: 600;
}

.common-text-font-1 {
  height: 20px;
  font-size: 12px;
  line-height: 20px;
}

.common-text-font-2 {
  height: 22px;
  font-size: 14px;
  line-height: 22px;
}

.common-text-font-3 {
  height: 24px;
  font-size: 16px;
  line-height: 24px;
}

.common-text-font-4 {
  height: 26px;
  font-size: 18px;
  line-height: 26px;
}

.common-text-font-5 {
  height: 28px;
  font-size: 20px;
  line-height: 28px;
}

.common-text-font-6 {
  height: 30px;
  font-size: 22px;
  line-height: 30px;
}

.common-text-font-7 {
  height: 32px;
  font-size: 24px;
  line-height: 32px;
}

.common-text-no-height-font-1 {
  height: 12px;
  font-size: 12px;
  line-height: 13px;
}

.common-text-no-height-font-2 {
  height: 14px;
  font-size: 14px;
  line-height: 15px;
}

.common-text-no-height-font-3 {
  height: 16px;
  font-size: 16px;
  line-height: 17px;
}

.common-text-no-height-font-4 {
  height: 18px;
  font-size: 18px;
  line-height: 19px;
}

.common-text-no-height-font-5 {
  height: 20px;
  font-size: 20px;
  line-height: 21px;
}

.common-text-no-height-font-6 {
  height: 22px;
  font-size: 22px;
  line-height: 23px;
}

.common-text-no-height-font-7 {
  height: 24px;
  font-size: 24px;
  line-height: 25px;
}
