.tag {
  max-width: 112px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popover-tags {
  max-width: 300px;
  max-height: 300px;
  overflow-y: auto;
}

.column-tag-more-btn {
  height: 22px;
  padding-right: 4px;
  padding-left: 4px;
}
