.BasicInfos {
    table-layout: fixed;
    font-size: 13px;
    line-height: 38px;
    .LabelCol{
        width: 80px;
        color: rgba(0, 0, 0, 0.549);
    }

    .Description {
        line-height: 1.5;
        white-space: pre-wrap;
        word-break: break-all;
    }
}