.container {
    position: relative;
    height: 100%;
    width: 100%;

    & .mode {
        color: #0000008C;
        line-height: 22px;
        margin-bottom: 8px;
    }

}

.trigger-mode-item {
    width: 100%;
    margin-bottom: 12px;
    line-height: 20px;
}

.trigger-footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}