.CONTENT_AUTOMATION-ant-form-horizontal
    .CONTENT_AUTOMATION-ant-form-item-control {
    flex: 1 1 auto;
}

.applet-table-label {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 160px;
    word-break: break-word;
    word-wrap: break-word;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.6);
    white-space: normal;

    &.CONTENT_AUTOMATION-ant-typography {
        margin-bottom: 0;
    }
}
