.detail-page-header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 24px;
  margin: 0 -24px 12px;
  background: #fff;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.detail-page-header-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.detail-page-header-back {
  font-size: 14px;
  color: rgb(0 0 0 / 65%);
  cursor: pointer;
}

.detail-page-header-title {
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

.detail-page-header-actions {
  display: flex;
  gap: 8px;
  align-items: center;
}
