namespace: dip
moduleName: vega-backend

# 环境变量：语言/时区
env:
  timezone: Asia/Shanghai
  language: en_US.UTF-8

replicaCount: 1

# 节点选择器
nodeSelector: {}

image:
  registry: acr.aishu.cn
  repository: dip/vega-backend
  tag: tag
  pullPolicy: IfNotPresent

service:
  vegaManager:
    type: ClusterIP
    port: 13014
    nodePort: 31014
    ingress:
      enabled: true
      interface:
        path:
          - /api/vega-backend/v1

# 反亲和性设置
antiAffinity:
  enabled: true
  rule: "soft" # 可选参数 hard, soft

# 微服务通信依赖配置
depServices:
  class-443:
    ingressClass: class-443
  rds:
    host: mariadb-mariadb-master.resource.svc.cluster.local.
    port: 3330
    user: test
    password: testpwd
    type: MariaDB

config:
  server:
    runMode: release
    httpPort: 13014
    language: zh-CN
    readTimeOut: 120
    writeTimeOut: 600
  log:
    logLevel: info
    developMode: false
    maxAge: 100
    maxBackups: 20
    maxSize: 100

# 资源配置
resources:
  requests:
    cpu: 0
    memory: 0Gi
  limits:
    cpu: 2
    memory: 4Gi
