.attrDefBox {
  width: 100%;
  padding: 0 20px;

  .keyTitleBox {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 22px;

    .keyTitleItem {
      width: 50%;
      font-size: 14px;

      .keyTitleItemTop {
        display: flex;
        gap: 8px;
        align-items: center;
      }

      .keyTitleItemBottom {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        align-items: center;
        width: 100%;
        min-height: 34px;
        padding: 4px 12px;
        margin-top: 8px;
        background-color: rgba(0, 0, 0, 0.04);
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 6px;

        .keyItem {
          display: inline-block;
          height: 24px;
          padding: 0 8px;
          line-height: 24px;
          background-color: #e6e6e6;
          border-radius: 4px;
        }
      }
    }
  }

  .questionIcon {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.25);
  }
}

.titleBox {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 22px;

  .title {
    font-size: 16px;
    font-weight: bold;
  }

  .addBtn {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    color: #126ee3;
    cursor: pointer;
  }
}
