.container {
    position: relative;
    padding: 20px 32px;

    .title {
        font-weight: 600;
        font-size: 15px;
    }

    .description {
        margin-top: 8px;
        color: #999;
    }

    .details {
        margin-top: 64px;
        line-height: 30px;
    }

    .link {
        cursor: pointer;
        color: rgba(52, 97, 236, 0.75);
        &:hover {
            color: rgba(52, 97, 236, 1);
        }
    }
}
