.ToolModal {
  .ad-universal-modal-content {
    //overflow-y: auto;
    padding-top: 0;
    display: flex;
    > div {
      flex: 1;
    }
  }

  .@{ant-prefix}-tree-switcher:hover::before {
    background-color: transparent !important;
  }

  .@{ant-prefix}-tree-node-content-wrapper:hover {
    background-color: transparent !important;
  }

  &-tree {
    .@{ant-prefix}-tree-node-content-wrapper {
      flex: 1 !important;
      min-width: 0;

      .@{ant-prefix}-tree-title {
        width: 100%;
        display: inline-block;
      }
    }
  }

  &-tab {
    .@{ant-prefix}-tabs-content-holder {
      flex: 1;
      height: 0;
      overflow-y: auto;
    }
  }
}

.ToolModal-param-tip {
  .@{ant-prefix}-popover-arrow {
    display: none;
  }
}

.ToolModal-param-tip-param-loading {
  padding: 16px 80px;
}

.ToolModal-param-tip-param-failed {
  padding: 20px 30px;
}
