.json-editor-code {
  width: 100%;
  height: calc(100% + 1px);

  .jsoneditor {
    border: var(--g-border);
  }

  .jsoneditor-statusbar {
    background-color: #fafafa;
  }

  .jsoneditor-preview {
    padding: 8px !important;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fafafa;
  }

  .jsoneditor-text {
    padding: 4px !important;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.65);
  }
}
