.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.footer-btn-ok {
    margin-right: 12px;
}

.change-version-form {
    :global {
        .@{ant-prefix}-form-item {
            margin: 0px 0px 16px;
        }
    }
}