.compound-expression-root {
  display: flex;
  height: 400px;
  border: var(--g-border);
  border-radius: 8px;

  .compound-expression-list {
    width: 260px;
    height: 100%;
    border-right: var(--g-border);
  }

  .compound-expression-code {
    width: 540px;
    height: 100%;
    padding: 16px;
  }
}
