@import '@/assets/styles/theme/index.less';

.text-front-item {
  padding-right: 8px;
  font-size: 12px;
  line-height: 28px;
  color: @text-color;
}

.text-after-item {
  padding-left: 8px;
  font-size: 12px;
  line-height: 28px;
  color: @text-color;
}

.input-width {
  width: 20%;
  min-width: 100px;
}

.text-read-only {
  display: inline-block;
  width: fit-content;
  height: 32px;
  padding: 0 10px;
  line-height: 32px;
  text-align: center;
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
