@import '@/assets/styles/theme/index.less';

div.ant-drawer-header {
    // padding: 9px 24px;
    height: 56px;
    line-height: 56px;

    div.ant-drawer-title {
        .first-level-title;
    }
}

button.ant-drawer-close {
    top: 0;
}

.ant-drawer-body {
    height: calc(100% - 56px);
}

// // 轮播图样式调整
// .ant-drawer-body {
//   .ant-carousel .slick-slider .slick-prev,
//   .ant-carousel .slick-slider .slick-next {
//     background: red;
//   }

//   .ant-carousel .slick-slider .slick-prev:hover,
//   .ant-carousel .slick-slider .slick-next:hover {
//     background: yellow;
//   }
// }
