// 解决表单验证导致表单偏移问题
div.ant-form-item.ant-form-item-with-help {
  margin-bottom: 8px;
}

// 加载图案
.ant-spin-dot-item {
  background-color: @primary-color !important;
}

.ant-spin-text {
  color: @primary-color;
}

.ant-form-explain {
  font-size: 12px !important;
}

.ant-form label {
  font-size: 12px !important;
}

.ant-form-item {
  margin-bottom: 8px !important;
}
