/**
 * 通知提示框样式修改
 *
 * @author ding.mei@eisoo.com
 * @date 2019-02-13
 *
 */

@import '@/assets/styles/theme/index.less';

div.ant-notification-notice {
    padding: 16px;
}

div.ant-notification-notice-message {
    font-size: 14px;
}

div.ant-notification-notice-description {
    font-size: 12px;
}

span.ant-notification-notice-btn {
    margin-top: 24px;
}

div.ant-notification-notice-with-icon {
    // padding-bottom: 8px;

    .ant-notification-notice-message {
        margin-bottom: 0;
        margin-right: 24px;
    }

    .ant-notification-notice-description {
        font-size: 12px;
        margin-right: 24px;
    }
}
