/**
 * 开关转换样式修改
 *
 * @author zheng.guolei@eisoo.com
 * @date 2019-02-26
 *
 */

button.ant-switch {
  min-width: 16px;
  width: 32px;
  height: 16px;
}

button.ant-switch-checked {
  background-color: @primary-color;
}

button.ant-switch.ant-switch-checked::after {
  width: 12px;
  height: 12px;
}

button.ant-switch::after {
  width: 12px;
  height: 12px;
}
