// 标签样式调整
span.ant-tag,
div.ant-tag {
  padding: 0 10px;
  font-size: 12px;
  min-height: 24px;
  line-height: 22px;
  border-radius: 1em;
  word-break: break-all;
  // white-space: normal; // 47浏览器兼容性删除
  display: inline-block;
}
