.mainBox {
  height: 100%;

  .contentBox {
    box-sizing: border-box;

    .headerBox {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 50px;
      padding: 0 24px;

      .titleBox {
        font-weight: bold;
      }
    }
  }
}
