@import '@/assets/styles/theme/index.less';

.basic-info-root {
  display: flex;
  justify-content: center;

  .form {
    width: 800px;
    min-width: 800px;
    margin-bottom: 32px;
  }

  .form-item-tip {
    font-size: 12px;
    color: var(--g-text-color-sub);
  }
}
