.edge-create-and-edit-header-root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 900px;
  height: 48px;
  border-bottom: var(--g-border);

  .edge-create-and-edit-header-go-back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 48px;
    padding-left: 16px;
  }
}
