namespace: dip
moduleName: vega-gateway-pro

# 环境变量：语言/时区
env:
  timezone: Asia/Shanghai
  language: en_US.UTF-8

replicaCount: 1

# 节点选择器
nodeSelector: {}

image:
  registry: acr.aishu.cn
  repository: dip/vega-gateway-pro
  tag: tag
  pullPolicy: IfNotPresent

service:
  vegagatewaypro:
    type: ClusterIP
    port: 8097
    nodePort: 8097
    ingress:
      enabled: true
      interface:
        path:
          - /api/vega-gateway-pro/v1
          - /api/vega-gateway/v2

# 反亲和性设置
antiAffinity:
  enabled: true
  rule: "soft" # 可选参数 hard, soft

# 微服务通信依赖配置
depServices:
  class-443:
    ingressClass: class-443
  rds:
    host: mariadb-mariadb-master.resource.svc.cluster.local.
    port: 3330
    user: root
    password: eisoo.com123
    type: MariaDB
  mq:
    auth:
      mechanism: PLAIN
      password: eisoo.com123
      username: anyrobot
    mqHost: kafka-headless.resource.svc.cluster.local.
    mqPort: 9097
    mqType: kafka
    protocol: sasl_plaintext
    tenant: default
  authorization-private:
    host: authorization-private
    port: 30920
    protocol: http
  hydra-admin:
    host: hydra-admin
    port: 4445
    protocol: http
  data-connection:
    host: data-connection
    port: 8098
    protocol: http
  vega-calculate-coordinator:
    host: vega-calculate-coordinator
    port: 8090
    protocol: http

config:
  server:
    runMode: release
    httpPort: 8097
    language: zh-CN
  log:
    logLevel: info
    developMode: false
    maxAge: 100
    maxBackups: 20
    maxSize: 100
  pool:
    queryPoolSize: 100                   # 查询池大小
  query:
    cleanIntervalTime: 5m                # 查询清理间隔
    maxIntervalTime: 1h                  # 查询取数最大间隔时间
    dataQuerySize: 10000                 # 单次内部查询数据量及再次查询临界值
    dataCacheSize: 20000                 # 单个查询内部缓存数据量
  trace:
    maxSearchSpanSize: 1000
  kafka:
    batchSize: 1000                      # 一次事务发送的最大消息数量
    retries: 5                            # Kafka管理客户端重试次数
    retryBackoffMs: 500                   # 生产者每次重试之间的间隔
    transactionTimeoutMs: 60000           # 事务生产者事务超时时间
    produceFlushTimeoutMs: 1000          # 事务生产者发送消息的超时时间
    transactionOperationTimeoutMs: 60000  # 事务相关方法超时时间 (initTransactions, sendOffsetToTransaction(), CommitTransaction(), AbortTransaction())
    sessionTimeoutMs: 45000               # 组管理协议用来监测消费者是否失效的超时时间
    fetchWaitMaxMs: 3000                  # 消费者拉取一字节消息的超时时间
    socketTimeoutMs: 60000                # 消费者拉取消息的超时时间，等于socketTimeoutMs + fetchWaitMaxms
    maxPollIntervalMs: 300000             # 两次 poll操作之间的间隔
    maxPollRecords: 1000                  # 每次poll的最大条数
    heartbeatIntervalMs: 10000            # 消费者向coordinator发送心跳包的间隔时间
    adminClientRequestTimeoutMs: 30000    # 获取源集群 topics 的超时时间
    adminClientOperationTimeoutMs: 60000  # 向目标集群创建 topic 的超时时间
  observability:
    logEnabled: false
    traceEnabled: false
    metricEnabled: false
    logExporter: console
    traceProvider: http
    metricProvider: http
    logLoadInternal: 1
    logLoadMaxLog: 10
    traceMaxQueueSize: 50000
    metricIntervalSecond: 60
    httpLogFeedIngesterUrl: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/dip-o11y-log/events
    httpTraceFeedIngesterUrl: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/dip-o11y-trace/events
    httpMetricFeedIngesterUrl: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/dip-o11y-metric/events
    grpcTraceFeedIngesterUrl: feed-ingester-service:30013
    grpcTraceJobId: dip-o11y-trace-grpc
  rsa:
    privateKeyPath: /rsa/private_key.pem

# 资源配置
resources:
  requests:
    cpu: 0
    memory: 0Gi
  limits:
    cpu: 6
    memory: 4Gi
