.select-types-placeholder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .select-types-label {
        color: rgba(0, 0, 0, 1);
        font-size: 13px;
        line-height: 24px;
    }

    .removeButton {
        font-size: 13px;
    }
}

.select-types {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    .type-item {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        margin-right: 28px;
        width: 60px;
        cursor: pointer;
    }

    .type-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .type-icon {
        font-size: 50px;
        color: #fff;
    }

    .type-label {
        margin-top: 8px;
        width: 82px;
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-word;
        text-align: center;
    }
}

.form-list {
    :global(.@{ant-prefix}-form-item) {
        margin-bottom: 16px;
    }

    .droppable > :global(.@{ant-prefix}-form-item) {
        margin-bottom: 0;
    }
}

.fieldInput {
    padding: 48px 0 16px;
    border-bottom: 1px solid #eee;

    .fieldIndex {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 13px;
        line-height: 13px;
        color: rgba(0, 0, 0, 0.55);
    }

    .fieldIndex,
    .removeButton {
        position: absolute;
        top: 16px;
        right: 0;
        font-size: 13px;
    }

    .removeButton {
        top: 20px;
    }

    .draggle-icon {
        position: absolute;
        left: -24px;
        top: 8px;
        width: 24px;
        height: 36px;
        line-height: 30px;
        text-align: center;
        border-radius: 4px;
        visibility: hidden;
        cursor: move;
    }

    &:hover .draggle-icon,
    &.isDragging .draggle-icon,
    .visible {
        visibility: visible;
    }

    &.isDragging {
        .draggle-icon {
            left: 8px;
        }

        .fieldIndex {
            left: 32px;
        }

        .removeButton {
            right: 32px;
        }
    }

    .select {
        :global(.@{ant-prefix}-select-selector) {
            padding: 0 8px;
        }
    }

    .required-wrapper {
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin-top: 8px;
        width: calc(100% - 28px);

        label {
            width: auto;
        }
    }

    :global(.@{ant-prefix}-form-item-with-help) {
        margin-bottom: 0;
    }

    :global(.@{ant-prefix}-form-inline) :global(.@{ant-prefix}-form-item) {
        margin-bottom: 0;
        margin-right: 8px;
    }
}

.description {
    margin-bottom: 8px;
    color: #000;
}

.link-btn {
    transition: 0s;

    &:global(.@{ant-prefix}-btn-link) {
        color: rgba(52, 97, 236, 0.75);
        &:hover {
            color: rgba(52, 97, 236, 1);
        }
    }

    .add-icon {
        font-size: 16px;
    }
}

.link-btn[disabled],
.link-btn[disabled]:hover,
.link-btn[disabled]:focus,
.link-btn[disabled]:active {
    color: rgba(52, 97, 236, 0.3);
    -webkit-text-fill-color: rgba(52, 97, 236, 0.3);
}

.removeButton {
    font-size: 12px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.45);
}

// 组件类型
.select-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;

    .type-icon-wrapper {
        margin-right: 8px;
        width: 16px;
        flex-shrink: 0;
    }

    .type-icon {
        font-size: 16px;
    }
}
