.databaseConfigPanel {
  padding: 12px;
  background: transparent;
  margin: 0 auto;
}

.actionCard {
  margin-top: 12px;
  text-align: center;
  
  :global(.ant-card-body) {
    padding: 12px;
  }
}

.sectionTitle {
  font-weight: 600;
  font-size: 14px;
  margin: 8px 0 12px;
}
