.model-settings-select-data-view-root {
  .select-data-view-table-container {
    height: calc(100% - 48px);
    padding: 0 24px;
    margin: 0 -24px;
    overflow-y: auto;
  }

  .select-data-view-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 48px;
    padding: 0 24px;
  }
}
