.operator-info {
  &-title {
    margin-bottom: 6px;
    color: #00000072;
  }

  &-desc {
    margin-bottom: 16px;
  }
}

.operator-detail-config-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  .@{ant-prefix}-typography {
    margin-bottom: 0;
  }

  &-title {
    font-weight: bold;
    margin-right: 5px;
  }
}