.variable-editor-modal {
    .@{ant-prefix}-modal-header {
        border-bottom: none;
    }
    .@{ant-prefix}-modal-footer {
        border-top: none;
    }
    .@{ant-prefix}-modal-body {
        padding-top: 10px;
    }
}