.object-root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .object-content {
    width: 100%;
    height: calc(100% - 48px - 64px);
    padding: 24px 0;
    overflow-y: auto;
  }

  .object-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 64px;
  }
}
