.object-root {
  position: relative;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  overflow: auto;

  .object-header-actions {
    position: absolute;
    top: 8px;
    right: 24px;
    z-index: 10;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .object-content {
    width: 100%;
    height: calc(100% - 48px);
    overflow-y: auto;
  }
}
